<script lang="ts">
  // @ts-nocheck
  import { onMount } from "svelte"
  import { isMobile } from "./utils/isMobile"
  // routing imports
  import { Router } from "svelte-routing"
  import Navbar from "./components/Navbar/Navbar.svelte"
  import ViewCounter from "./components/Generic/ViewCounter.svelte"
  import DerivedRoutes from "./routes/DerivedRoutes.svelte"
  // export let url = ""
  // Connect2IC imports
  import { createClient } from "@connect2ic/core"
  import { defaultProviders } from "@connect2ic/core/providers"
  import { Connect2ICProvider } from "@connect2ic/svelte"
  import "@connect2ic/core/style.css"

  // theme import
  import ThemeContext from "./components/Navbar/ThemeContext.svelte"
  // canister import
  import * as backend from "../src/declarations/backend"

  // create connect2IC client
  const client = createClient({
    canisters: {
      backend,
    },
    providers: defaultProviders,
  })
</script>

<!-- routes -->
<Connect2ICProvider {client}>
  <ThemeContext>
    <ViewCounter />
    <!-- <Router {url}> -->
    <Router>
      <div id="page">
        <Navbar />
        <main>
          <DerivedRoutes />
        </main>
        <footer class="center" style="margin-top:50px;">Seachan 2023</footer>
      </div>
    </Router>
  </ThemeContext>
</Connect2ICProvider>

<style>
  :global(html) {
    overflow-y: scroll;
  }

  main {
    padding-top: 50px;
    min-height: 100vh;
  }
  :global(html) {
    background-color: var(--theme-background);
    color: var(--theme-text);
    font-size: calc(10px + 0.390625vw);
  }
  :global(body) {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  :global(a) {
    color: var(--theme-text);
    text-decoration: none;
  }
  :global(a:hover) {
    color: var(--theme-text);
  }
  :global(button) {
    cursor: pointer;
    font-size: calc(10px + 0.390625vw);
  }
  :global(li) {
    list-style: none;
  }
  :global(.connect-button) {
    display: inline;
    /* font-size: 16px; */
    padding: 0px;
    background: none;
    color: var(--theme-text);
  }
  :global(.fa) {
    background: none;
    border: 0px;
    color: var(--theme-text);
    padding-left: 5px;
    padding-right: 5px;
  }
  :global(.center) {
    display: flex;
    justify-content: center;
  }
  :global(.loading) {
    color: var(--theme-text);
    cursor: auto;
  }
  :global(hr) {
    border: none;
    border-top: 1px solid var(--theme-navbar);
  }
  /* :global(button) {
    font-size: 1em;
  } */
  :global(.highlighted) {
    background-color: var(--theme-highlight);
  }
  :global(.green-text) {
    color: green;
  }
</style>
