<script>
  import Fa from "svelte-fa"
  import { faHatCowboy, faTornado } from "@fortawesome/free-solid-svg-icons"

  export let badges
  export let showDescription = false
</script>

{#if badges?.length > 0}
  {#if showDescription}
    <span>Badges: </span>
  {/if}
  {#each badges as badge}
    {#if badge == "SeaChad"}
      <!-- 🐸 -->
      <span title="SeaChad"> 🎩</span>
      {#if showDescription}
        <span> SeaChad </span>
      {/if}
    {:else if badge == "Admin"}
      <span title="Admin">
        {#if showDescription}
          <span> Admin </span>
        {/if}
        <Fa icon={faHatCowboy} style="color: #97572b" />
      </span>
    {:else if badge == "CycleContributor"}
      {#if showDescription}
        <span> Cycle Contributor </span>
      {/if}
      <span title="CycleContributor">
        <Fa icon={faTornado} />
      </span>
    {/if}
  {/each}
{/if}
