<script lang="ts">
  import Fa from "svelte-fa"
  import { faXmark, faMinus, faPlus } from "@fortawesome/free-solid-svg-icons"
  import { highlightedPosts } from "../../stores/postsStore"

  export let showMinimize: boolean = true
  export let showClose: boolean = true
  export let isMinimized: boolean = false
  export let isQuickReply: boolean = false

  let refresh = false
  $: refresh = refresh
  let nodeRef: HTMLDivElement
</script>

<div
  bind:this={nodeRef}
  class="box center"
  style={isQuickReply ? "" : "margin-bottom:20px"}
>
  <div style="border: 1px solid black">
    <p class="header">
      <!-- minimize -->
      {#if showMinimize}
        <button
          class="fa"
          title={isMinimized ? "Maximize " : "Minize"}
          on:click={() => (isMinimized = !isMinimized)}
        >
          <Fa icon={isMinimized ? faPlus : faMinus} />
        </button>
      {/if}
      <slot name="header" />
      <!-- close -->
      {#if showClose}
        <button
          class="fa danger"
          on:click={() => {
            if (isQuickReply) {
              var quickreply = document.getElementById("quickreply")
              quickreply.classList.add("hidden")
              highlightedPosts.set([])
            } else {
              nodeRef.parentNode.removeChild(nodeRef)
            }
          }}
        >
          <Fa icon={faXmark} />
        </button>
      {/if}
    </p>
    {#if !isMinimized}
      <div class="body">
        <slot name="body" />
      </div>
    {/if}
  </div>
</div>

<style>
  .box {
    flex: 1;
    overflow: auto;
    margin: auto;
    /* max-width: 95%; */
  }

  button {
    margin: 0px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--theme-navbar);
    border-bottom: 1px solid black;
    margin: 0px;
  }

  .header > button {
    padding-left: 10px;
    padding-right: 10px;
  }

  button {
    cursor: pointer;
  }

  .danger {
    color: var(--theme-danger);
  }

  .body {
    background-color: var(--theme-postBg);
    /* background-color: #4B616F; */
    color: var(--text-color);
    overflow: auto;
    text-align: center;
  }
</style>
