<script>
  // @ts-nocheck
  import { onMount } from "svelte"
  import { toasts } from "svelte-toasts"
  import Fa from "svelte-fa"
  import { faInfo, faLock } from "@fortawesome/free-solid-svg-icons"
  import { useConnect, useBalance } from "@connect2ic/svelte"
  import {} from "@connect2ic/svelte"
  import { userNFTs, fetchUserNFTs, userStore } from "../../stores/userStore"
  const { principal, isConnected } = useConnect()
  const [assets, { refetch, error }] = useBalance()
  export let gate

  let gateType = ""
  let gated = false
  let selectedTokenAmount = 0

  $: if (gate.token != "") {
    selectedTokenAmount = $assets?.find((x) => x.name === gate.token).amount
  }

  $: if (gated) {
    gateType = "tokens"
  }

  $: if (gated && gateType == "tokens") {
    gate.token = $assets?.find((x) => x.amount > 0).symbol
  } else {
    gate.token = ""
  }

  let gateInfo = `The "Gate" option allows you to set a token or nft requirement to access the thread. 
  You must own the asset you choose for the gate. 
  NFT collections must be registered with DAB.js (https://dab.ooo/nfts/) to appear as an option.`
  let disabled = true
  $: disabled = !($isConnected && $assets?.some((item) => item.amount > 0))
</script>

<!-- gated -->
<label>
  {#if !disabled}
    <input name="gated" type="checkbox" {disabled} bind:checked={gated} />
  {:else}
    <Fa style="padding-left:4px;padding-right:4px;" icon={faLock} />
  {/if}
  Gate
  <button
    class="fa"
    type="button"
    on:click={() => {
      toasts.add({
        description: gateInfo,
        duration: 10000,
      })
    }}
  >
    <Fa icon={faInfo} />
  </button>
</label>

<!-- type -->
{#if gated}
  <label title="gate type">
    Gate Type:
    <select name="gateType" bind:value={gateType}>
      <option selected value="tokens">Tokens</option>
      <option value="nft">NFT</option>
    </select>
  </label>
{/if}

<!-- token gate -->
{#if gated && gateType == "tokens"}
  <label title="gate token">
    Token Amount:
    <input
      type="number"
      min="0"
      max={selectedTokenAmount}
      name="amount"
      style="width:50px"
      bind:value={gate.amount}
    />
    <select name="token" bind:value={gate.token}>
      {#each $assets as asset}
        {#if asset.amount > 0}
          <option selected value={asset.name}>{asset.name}</option>
        {/if}
      {/each}
    </select>
  </label>
  <br />
{/if}
{#if gated && gateType == "nft"}
  <label title="gate nft">
    Gate NFT:
    <select name="nft" bind:value={gate.nft}>
      {#each $userNFTs as nft}
        <option value={nft.name}>{nft.name}</option>
      {/each}
    </select>
  </label>
  <br />
{/if}
