<script lang="ts">
  import Timestamp from "../../components/Post/Timestamp.svelte"

  export let message
  let postNodeRef
</script>

<div bind:this={postNodeRef}>
  <!-- minimize -->
  <div class="post">
    <!-- timestamp -->
    <Timestamp timestamp={message.timestamp} />
    <!-- subject -->
    {#if message.subject != ""}
      {message.subject}
    {/if}
    {message.body}
  </div>
</div>

<style>
  .post {
    overflow: default;
  }
</style>
