<script lang="ts">
  import CreateDirectMessage from "../../forms/CreateDirectMessage.svelte"
  import Box from "./Box.svelte"
  import { getCondensedPrincipal } from "../../utils/getCondensedPrincipal"
  // import { generateAnonId } from "../../utils/generateAnonId"
  // import { anonIdToThreadId } from "../../utils/anonIdToThreadId"
  import PosterId from "../Post/PosterId.svelte"

  export let sendMessage
  let isMinimized = false
</script>

<div id="message" class="hidden message">
  {#if sendMessage}
    <Box isQuickReply={true}>
      <span slot="header">
        Directly messaging <PosterId post={sendMessage} />
      </span>
      <div slot="body">
        {#if !isMinimized}
          <div>
            <CreateDirectMessage post={sendMessage} />
          </div>
        {/if}
      </div>
    </Box>
  {/if}
</div>

<style>
  .message {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    background-color: var(--theme-quickReply);
  }
  .hidden {
    display: none;
  }
</style>
