<script lang="ts">
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { faSync } from "@fortawesome/free-solid-svg-icons"
  export let gate
  export let assets
  export let type
  import { useConnect } from "@connect2ic/svelte"
  import { isFetchingUserNFTs } from "../../stores/userStore"
  const { isConnected, isConnecting, activeProvider, status } = useConnect()

  let gatedMessage = "You must own the following asset to access this " + type
  let gatedAsset = ""

  if (gate.token != "") {
    gatedAsset = gate.amount + " " + gate.token
  }
  if (gate.nft != "") {
    gatedAsset = gate.nft + " NFT"
  }

  let userBalance = 0
  $: if (gate.token != "" && assets) {
    assets?.map((asset: { name: any; amount: number; symbol: any }) => {
      if (asset.name == gate.token) {
        userBalance = asset.amount
      }
    })
  }
</script>

<div>
  {#if $isConnected}
    <h1>{gatedMessage}</h1>
    <h1>{gatedAsset}</h1>
    {#if gate.nft != ""}
      {#if $isFetchingUserNFTs}
        Scanning NFTs
        <Fa icon={faSync} spin />
      {/if}
    {/if}
    {#if !assets}
      Checking tokens
      <Fa icon={faSync} spin />
    {/if}
    {#if gate.token != "" && assets}
      You only have {userBalance} {gate.token}
    {/if}
  {:else}
    <h1>You must connect to a wallet in order to access this {type}.</h1>
    {#if $status == "initializing"}
      Connecting
      <Fa icon={faSync} spin />
    {/if}
  {/if}
</div>

<style>
  div {
    text-align: center;
  }
</style>
