<script lang="ts">
  import CreatePost from "../../forms/CreatePost.svelte"
  import Box from "../../components/Generic/Box.svelte"
  import { replyingToStore } from "../../stores/postsStore"

  export let board
  export let onPage
  export let threadParam
  let isMinimized = false
</script>

<div id="quickreply" class="hidden quickreply">
  <Box isQuickReply={true}>
    <span slot="header"> Replying to {$replyingToStore.id}</span>
    <div slot="body">
      {#if !isMinimized}
        <div>
          <CreatePost
            {board}
            isQuickReply={true}
            {threadParam}
            {onPage}
            op={$replyingToStore}
          />
        </div>
      {/if}
    </div>
  </Box>
</div>

<style>
  .quickreply {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    background-color: var(--theme-quickReply);
  }
  .hidden {
    display: none;
  }
</style>
