<script>
  import Fa from "svelte-fa"
  import { faLock } from "@fortawesome/free-solid-svg-icons"
  import Badges from "../../components/Generic/Badges.svelte"
  import { userStore } from "../../stores/userStore"
  export let displayBadges

  $: disabled = !($userStore?.badges?.length > 0)
</script>

<label>
  {#if !disabled}
    <input name="badges" type="checkbox" bind:checked={displayBadges} />
  {:else}
    <Fa style="padding-left:4px;padding-right:4px;" icon={faLock} />
  {/if}

  Display Badge{$userStore?.badges?.length == 1 ? "" : "s"}?
  <Badges badges={$userStore?.badges} />
</label>
