<script>
  export let isQuickReply = false
  export let body
</script>

<textarea
  placeholder="Comment"
  name="body"
  id={isQuickReply ? "quickreply-textarea" : "reply-textarea"}
  bind:value={body}
/>

<style>
  textarea {
    height: 8em;
    padding: 5px;
    resize: "both";
  }
</style>
