<script>
  import { toasts } from "svelte-toasts"
  import Fa from "svelte-fa"
  import { faInfo } from "@fortawesome/free-solid-svg-icons"
  import { useConnect } from "@connect2ic/svelte"

  const { isConnected } = useConnect()

  export let displayCountryFlag = false
  export let board
  let countryFlagInfo =
    'The "Show Display FLag" option will display your country\'s flag in the post header. At this time, displaying flags is required for anon posters on /biz/ and /pol/.'

  $: if (!$isConnected && (board?.id == "biz" || board?.id == "pol")) {
    displayCountryFlag = true
  }
</script>

<label>
  <input name="location" type="checkbox" bind:checked={displayCountryFlag} />
  Display Country Flag?
  <button
    type="button"
    class="fa"
    on:click={() => {
      toasts.add({
        description: countryFlagInfo,
        type: "error",
      })
    }}
  >
    <Fa icon={faInfo} />
  </button>
</label>
