<script>
  export let threads
  export let boardId
  export let replyingTo

  export let createType = replyingTo || "new"
</script>

<select required name="createType" bind:value={createType}>
  {#if typeof replyingTo === "undefined"}
    <option selected value="new">New Thread</option>
  {:else}
    <option value="new">New Thread</option>
  {/if}
  {#each Array(threads.length) as _, index (index)}
    {#if replyingTo == index}
      <option selected value={index + 1}>
        Replying to {boardId + "/" + (index + 1)}
      </option>
    {:else}
      <option value={index + 1}>
        Replying to {boardId + "/" + (index + 1)}
      </option>
    {/if}
  {/each}
</select>
