<script>
  // @ts-nocheck
  import { toasts } from "svelte-toasts"
  import Fa from "svelte-fa"
  import { faInfo, faLock } from "@fortawesome/free-solid-svg-icons"
  import { useConnect } from "@connect2ic/svelte"
  const { isConnected } = useConnect()

  export let directMessage

  let allowDMsInfo = "This feature is coming soon."
  //  The "Allow direct message" options will allow other users to message you. Messages will be viewable on the profile page.
  // $: disabled = !$isConnected
  $: disabled = true
</script>

<label>
  {#if !disabled}
    <input
      name="directMessage"
      type="checkbox"
      disabled={!$isConnected}
      bind:checked={directMessage}
    />
  {:else}
    <Fa style="padding-left:4px;padding-right:4px;" icon={faLock} />
  {/if}

  Allow direct messages?
  <button
    class="fa"
    type="button"
    on:click={() => {
      toasts.add({
        description: allowDMsInfo,
        type: "info",
      })
    }}
  >
    <Fa icon={faInfo} />
  </button>
</label>
