<script>
  // @ts-nocheck
  export let board
  export let files
  export let nsfw
  export let onPage
  export let isQuickReply

  $: isRequired = onPage == "board" && !isQuickReply
  const accept = board?.properties?.text
    ? ".pdf, .txt"
    : "image/png, image/jpeg, image/jpg, .webp, .jfif, .gif, .svg, .mp4, .mov, .webm, .mp3, .wav, .flac, .pdf, .txt"
  let info = board?.properties?.text
    ? "File must be .pdf or .txt since this is a text only board"
    : ""
</script>

<input
  required={isRequired}
  type="file"
  name="file"
  id="file"
  {accept}
  bind:files
/>

{#if files}
  <label title="nsfw">
    <input name="nsfw" type="checkbox" bind:checked={nsfw} />
    NSFW
  </label>

  <span>
    <label style="padding-left: 10px; padding-right: 10px">
      <input
        checked
        style="padding-right: 5px;"
        type="radio"
        name="fileUploadIpfs"
      />
      IPFS
    </label>
    <label>
      <input type="radio" name="fileUploadIcAssetCanister" disabled />
      IC Asset Canister
    </label>
  </span>
{/if}
<span class="danger">
  {info}
</span>

<style>
  span {
    font-size: 0.75rem;
  }
  .danger {
    color: var(--theme-danger);
  }
</style>
