<script>
  import { toasts } from "svelte-toasts"
  import Fa from "svelte-fa"
  import {
    faInfo,
    faXmark,
    faPlus,
    faLock,
  } from "@fortawesome/free-solid-svg-icons"
  import { useConnect, useBalance } from "@connect2ic/svelte"
  import {} from "@connect2ic/svelte"
  import { userNFTs, fetchUserNFTs, userStore } from "../../stores/userStore"
  const { principal, isConnected } = useConnect()
  const [assets, { refetch, error }] = useBalance()

  export let poll
  let hasPoll = false

  function addOption() {
    poll.choices = [
      ...poll.choices,
      { id: poll.choices.length + 1, choice: "", voters: [] },
    ]
  }

  function removeOption(id) {
    poll.choices = poll.choices.filter(function (p) {
      return p.id != id
    })
  }

  function init(el) {
    el.focus()
  }

  let pollInfo = `The "Poll" option allows you to create a poll with a predefined set of choices and voting eligibility requirements.`

  $: disabled = !$isConnected
</script>

<!-- poll -->
<label>
  {#if !disabled}
    <input name="poll" type="checkbox" {disabled} bind:checked={hasPoll} />
  {:else}
    <Fa style="padding-left:4px;padding-right:4px;" icon={faLock} />
  {/if}
  Poll
  <button
    class="fa"
    type="button"
    on:click={() => {
      toasts.add({
        description: pollInfo,
        duration: 5000,
      })
    }}
  >
    <Fa icon={faInfo} />
  </button>
</label>

<!-- type -->
{#if hasPoll}
  <label>
    Participants:
    <select name="participants" bind:value={poll.participants}>
      <option selected value="seachad">SeaChads</option>
      <!-- <option value="anons">Anons</option> -->
      <option value="authenticated">Authenticated</option>
    </select>
  </label>
  <span style="display:inline;">
    Question:
    <input
      autocomplete="off"
      placeholder="Question"
      type="text"
      name="question"
      bind:value={poll.question}
    />
  </span>
  {#each poll.choices as choices}
    <span style="display:inline;">
      Choice: {choices.id}
      <input type="text" bind:value={choices.choice} use:init />
      <button
        class="fa danger"
        type="button"
        style="display:inline;float:right;"
        on:click={() => {
          removeOption(choices.id)
        }}
      >
        <Fa icon={faXmark} />
      </button>
    </span>
  {/each}
  <button type="button" on:click={addOption}><Fa icon={faPlus} /></button>
  <br />
{/if}
