<script>
  // @ts-nocheck
  import { useConnect } from "@connect2ic/svelte"
  const { principal } = useConnect()
  import { getCondensedPrincipal } from "../../utils/getCondensedPrincipal"
  import { generateAnonId } from "../../utils/generateAnonId"
  import { fetchUser, userStore } from "../../stores/userStore"
  export let posterIdParsed
  export let threadId
  let opts = [{ pk: 1, type: "anonymous", value: null }]
  let chosen = 1
  $: if (
    $principal &&
    opts.filter((e) => e.type === "principal" && e.value === $principal)
      .length == 0
  ) {
    opts = [...opts, { pk: 2, type: "principal", value: $principal }]
  }

  $: if ($userStore?.usernames.length > 0) {
    $userStore?.usernames.forEach((u, index) => {
      if (
        opts.filter((e) => e.type === "username" && e.value === u).length == 0
      ) {
        opts = [...opts, { pk: index, type: "username", value: u }]
      }
    })
  }
  $: selectedPosterId = opts.find((opt) => opt.pk === chosen)

  $: if (selectedPosterId) {
    // anonymous
    if (selectedPosterId.type == "anonymous") {
      let anonId = ""
      if (localStorage.getItem("anonId") === null) {
        anonId = generateAnonId("")
        localStorage.setItem("anonId", anonId)
      } else {
        anonId = localStorage.getItem("anonId")
      }
      posterIdParsed = {
        Anon: generateAnonId(anonId + threadId),
      }
    }
    // principal
    else if (selectedPosterId.type == "principal") {
      posterIdParsed = { Principal: $principal }
    }
    // username
    else if (selectedPosterId.type == "username") {
      posterIdParsed = { Username: selectedPosterId.value }
    }
  }
</script>

<select required bind:value={chosen}>
  {#each opts as opt}<option value={opt.pk}
      >{opt.type}
      {opt.type == "principal"
        ? ": " + getCondensedPrincipal(opt.value)
        : opt.type == "anonymous"
        ? ""
        : ": " + opt.value}
    </option>{/each}
</select>
