<script>
  import Fa from "svelte-fa"
  import { faInfo } from "@fortawesome/free-solid-svg-icons"
  import { toasts } from "svelte-toasts"
  import { getElapsedDays } from "../../utils/getElapsedDays"
  import { useConnect } from "@connect2ic/svelte"
  const { isConnected } = useConnect()

  export let properties
  export let op

  let sageInfo =
    'The "Sage" option enables the user to post without bumping the thread to the top of the board. Posts will be auto-saged after 30 days unless the poster is authenticated.'

  $: if (op) {
    let elspasdDays = getElapsedDays(op.timestamp)
    if (elspasdDays > 30 && !$isConnected) {
      properties.saged = true
    } else {
      properties.saged = false
    }
  }
</script>

<label>
  <input name="saged" type="checkbox" bind:checked={properties.saged} />
  Sage?
  <button
    type="button"
    class="fa"
    on:click={() => {
      toasts.add({
        description: sageInfo,
        type: "info",
      })
    }}
  >
    <Fa icon={faInfo} />
  </button>
</label>
