<script>
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { faInfo, faLock } from "@fortawesome/free-solid-svg-icons"
  import { toasts } from "svelte-toasts"
  import { useConnect } from "@connect2ic/svelte"
  const { isConnected, activeProvider } = useConnect()

  export let acceptIcp
  export let displayIcpBalance

  let acceptIcpInfo =
    'The "Accept ICP" option enables other users to send ICP directly to the poster\'s wallet. A Plug connection is required to use this feature.'
  let displayIcpBalanceInfo =
    'The "Display ICP Balance" options enables other users to view an approximation your ICP balance. A Plug connection is required to use this feature.'

  $: disabled =
    !$isConnected ||
    ($isConnected && !["plug"].includes($activeProvider?.meta?.id))
</script>

<!-- accept ICP -->
<label>
  {#if !disabled}
    <input
      name="acceptIcp"
      type="checkbox"
      bind:checked={acceptIcp}
      {disabled}
    />
  {:else}
    <Fa style="padding-left:4px;padding-right:4px;" icon={faLock} />
  {/if}
  Accept ICP?
  <button
    class="fa"
    type="button"
    on:click={() => {
      toasts.add({
        description: acceptIcpInfo,
        type: "info",
      })
    }}
  >
    <Fa icon={faInfo} />
  </button>
</label>

<!-- display balance -->
<label>
  {#if !disabled}
    <input
      name="displayIcpBalance"
      type="checkbox"
      bind:checked={displayIcpBalance}
      {disabled}
    />
  {:else}
    <Fa style="padding-left:4px;padding-right:4px;" icon={faLock} />
  {/if}

  Display ICP balance?
  <button
    type="button"
    class="fa"
    on:click={() => {
      toasts.add({
        description: displayIcpBalanceInfo,
        type: "info",
      })
    }}
  >
    <Fa icon={faInfo} />
  </button>
  {#if $isConnected}
    <br />
    <span />
  {/if}
</label>

<style>
  span {
    font-size: 0.8rem;
  }
</style>
