<script>
  import { Link } from "svelte-routing"
  import { getContext } from "svelte"
  import {
    useConnect,
    ConnectDialog,
    useCanister,
    useBalance,
  } from "@connect2ic/svelte"
  import { ConnectButton } from "@connect2ic/svelte"
  import Fa from "svelte-fa"
  import {
    faRightFromBracket,
    faHatCowboy,
  } from "@fortawesome/free-solid-svg-icons"
  import { getCondensedPrincipal } from "../../utils/getCondensedPrincipal"
  import { isAdmin } from "../../utils/isAdmin"
  import {
    fetchUser,
    userStore,
    fetchUserNFTs,
    userNFTs,
  } from "../../stores/userStore"

  const [actor, { loading }] = useCanister("backend")

  const { isConnected, activeProvider, principal, disconnect, status } =
    useConnect()
  const { theme } = getContext("theme")

  $: if ($isConnected) {
    $actor.getPrincipal().then((principal) => {
      if (principal != "2vxsx-fae") {
        fetchUser($actor, $activeProvider)
        fetchUserNFTs(principal)
      }
    })
  }

  function handleDisconnect() {
    disconnect()
    userStore.set(undefined)
    userNFTs.set([])
  }
</script>

<li>
  {#if $isConnected}
    <Link title="profile" to={"profile/" + $principal}>
      <img src={$activeProvider.meta.icon.light} alt="SVG" />
      {getCondensedPrincipal($principal)}
    </Link>
    {#if isAdmin($principal)}
      <Link to={"admin"} title="Admin" class="fa">
        <Fa icon={faHatCowboy} style="color: #97572b" />
      </Link>
    {/if}
    <button on:click={() => handleDisconnect()} class="fa">
      <Fa icon={faRightFromBracket} />
    </button>
  {:else}
    <span class="connect-custom"> <ConnectButton /> </span>
  {/if}
  <ConnectDialog dark={theme.name == "dark"} />
</li>

<style>
  img {
    max-height: 18px;
    vertical-align: middle;
  }
</style>
