<script>
  import { getContext } from "svelte"
  import { Link } from "svelte-routing"

  const { theme, toggle } = getContext("theme")

  import Fa from "svelte-fa"
  import { faHouse } from "@fortawesome/free-solid-svg-icons"
  import { faSun, faMoon } from "@fortawesome/free-solid-svg-icons"
  import NavbarBoards from "./NavbarBoards.svelte"
  import Authentication from "./Authentication.svelte"
</script>

<nav>
  <li>
    <Link title="home" to={"/"}>
      <Fa icon={faHouse} />
    </Link>
    <button on:click={toggle} class="fa">
      {#if $theme.name == "light"}
        <Fa icon={faMoon} />
      {:else}
        <Fa icon={faSun} />
      {/if}
    </button>
  </li>
  <NavbarBoards />
  <Authentication />
</nav>

<style>
  nav {
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: var(--theme-navbar);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    z-index: 9999;
    margin: 0px;
  }

  button {
    padding: 0px;
    padding-left: 0.5em;
    background: none;
    color: var(--theme-text);
  }
</style>
