<script lang="ts">
  import { Link } from "svelte-routing"
  import { userStore } from "../../stores/userStore"
  import { useFakeData } from "../../stores/settingsStore"
  import { boardsInStore, boardsOutStore } from "../../stores/boardsStore"

  let navBarBoardIds = []
  $: if ($useFakeData) {
    navBarBoardIds = $boardsInStore.map((a) => a.id)
  }
  $: if (!$useFakeData && $userStore) {
    navBarBoardIds = $boardsOutStore
      .map((b) => b.id)
      .filter((x) => $userStore.navbarBoards.includes(x))
      .sort()
  }
</script>

{#each navBarBoardIds as board}
  <Link to={board}>
    [{board}]
  </Link>
{/each}
