<script lang="ts">
  import Fa from "svelte-fa"
  import { faFilter } from "@fortawesome/free-solid-svg-icons"
  import { stringFilter, boolFilter } from "../../stores/postsStore"

  let showFilterOptions

  $: if (boolFilterArray) {
    boolFilter.update((o) => {
      o["status"] = boolFilterArray
      return o
    })
  }

  let boolFilterArray = []
  let receivedICP = {
    name: "Received ICP",
    field: "web3.icpReceived",
    value: false,
  }
  let hasICP = { name: "Has ICP", field: "web3.icpBalance", value: false }
  let acceptsICP = {
    name: "Accepts ICP",
    field: "web3.acceptIcp",
    value: false,
  }
  let hasBadge = { name: "Badge", field: "poster.badges", value: false }
  let allowsDms = {
    name: "DMs",
    field: "poster.directMessage",
    value: false,
  }
  let hasCountryFlag = {
    name: "Location flag",
    field: "poster.flag",
    value: false,
  }
  let hasSeachadReport = {
    name: "Seachad Reported",
    field: "reports.seaChadPrincipals",
    value: false,
  }
  let flagged = {
    name: "Flagged",
    field: "properties.flagged",
    value: false,
  }
  let nsfwFile = {
    name: "NSFW File",
    field: "file.nsfw",
    value: false,
  }
  let saged = { name: "Saged", field: "properties.saged", value: false }

  $: boolFilterArray = [
    receivedICP,
    hasICP,
    acceptsICP,
    hasBadge,
    allowsDms,
    hasCountryFlag,
    hasSeachadReport,
    flagged,
    nsfwFile,
    saged,
  ]

  function handleClick(event) {
    showFilterOptions = false
  }
</script>

<section class="dropdown">
  <button
    class="fa"
    on:click={() => {
      showFilterOptions = !showFilterOptions
    }}
  >
    <Fa icon={faFilter} />
  </button>

  <div class:show={showFilterOptions} class="dropdown-content">
    {#each boolFilterArray as filter}
      <label>
        <input
          type="checkbox"
          on:change={() => (showFilterOptions = !showFilterOptions)}
          bind:checked={filter.value}
        />
        {filter.name}
      </label>
    {/each}
  </div>
</section>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
    /* font-size: 0.75rem; */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f6f6f6; */
    min-width: 200px;
    /* border: 1px solid #ddd; */
    color: var(--text-color) !important;
    /* background: white; */
  }

  /* Show the dropdown menu */
  .show {
    display: block;
  }

  label {
    display: block;
    width: fit-content;
    background: white;
    color: black;
    padding-right: 5px;
  }
</style>
