<script lang="ts">
  // @ts-nocheck
  import { useCanister } from "@connect2ic/svelte"
  import { fetchThread } from "../../stores/postsStore"
  import Fa from "svelte-fa"
  import { faArrowsRotate } from "@fortawesome/free-solid-svg-icons"
  const [actor] = useCanister("backend")

  export let boardId
  export let threadId
</script>

<button
  class="fa"
  on:click={() => {
    boardId + "/" + threadId
  }}
>
  <Fa icon={faArrowsRotate} class="refresh" />
</button>
