<script lang="ts">
  import Fa from "svelte-fa"
  import { faMagnifyingGlass } from "@fortawesome/free-solid-svg-icons"
  import { stringFilter } from "../../stores/postsStore"
  let showSearch = false
  function applyFilter(event: Event) {
    const filterValue = (event.target as HTMLInputElement).value
    if (filterValue == "") {
      stringFilter.set({ status: "All" })
    } else {
      stringFilter.set({ status: filterValue })
    }
  }
</script>

{#if showSearch}
  <input
    type="text"
    placeholder="Search OPs"
    on:input={(e) => applyFilter(e)}
    style="width:100px;"
  />
{/if}
<button
  title="Sort"
  class="fa"
  on:click={() => {
    showSearch = !showSearch
  }}
>
  <Fa icon={faMagnifyingGlass} />
</button>
