<script lang="ts">
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { faGear } from "@fortawesome/free-solid-svg-icons"
  import { fetchBoardThreads, displayFlagged } from "../../stores/postsStore"
  import { useCanister } from "@connect2ic/svelte"
  const [actor] = useCanister("backend")

  export let boardId
  export let showAllNsfw = false

  let showSettings
  let view

  function handleOption(e) {
    if (e.target.value == "RefreshPosts") {
      fetchBoardThreads($actor, boardId)
    } else if (e.target.value == "ToggleDisplayNSFW") {
      showAllNsfw = !showAllNsfw
    } else if (e.target.value == "ToggleDisplayFlagged") {
      displayFlagged.set(!$displayFlagged)
    }
    showSettings = false
  }
</script>

{#if showSettings}
  <select
    style="lineHeight: normal"
    required
    name="options"
    disabled={false}
    on:change={(e) => handleOption(e)}
  >
    <option value="none" selected disabled hidden> Select Option </option>
    <option value="ToggleDisplayNSFW">
      {showAllNsfw ? "Hide All NSFW" : "Show All NSFW"}
    </option>
    <option value="ToggleDisplayFlagged">
      {$displayFlagged ? "Hide All Flagged" : "Show All Flagged"}
    </option>
    <option value="RefreshPosts">{"RefreshPosts"}</option>
  </select>
{/if}
<button
  class="fa"
  on:click={() => {
    showSettings = !showSettings
  }}
>
  <Fa icon={faGear} />
</button>
