<script>
  import Fa from "svelte-fa"
  import {
    faComment,
    faImage,
    faUser,
    faEye,
    faDatabase,
  } from "@fortawesome/free-solid-svg-icons"
  import { Link } from "svelte-routing"
  import PosterId from "../Post/PosterId.svelte"
  import { formatFileSize } from "../../utils/formatFileSize"

  export let posts

  let op = posts.find((x) => x.properties.op === true)
  $: stats = [
    { type: "replies", value: posts.length, icon: faComment },
    {
      type: "files",
      value: posts.filter((p) => p.file.path != "").length,
      icon: faImage,
    },
    {
      type: "file size",
      value: formatFileSize(
        posts.map((i) => i.file.size).reduce((a, b) => a + b, 0),
      ),
      icon: faDatabase,
    },
    {
      type: "posters",
      value: [
        ...new Set(posts.map((item) => JSON.stringify(item.poster.posterId))),
      ].length,
      icon: faUser,
    },
    {
      type: "views",
      value: op ? op.threadDetails.views : 0,
      icon: faEye,
    },
  ]
</script>

<div class="center" style="margin-top:0px;">
  {#each stats as stat}
    <span style="padding-left:5px;padding-right:5px;">
      <Fa icon={stat.icon} />
      {stat.value}
    </span>
  {/each}
</div>
