<script>
  // @ts-nocheck
  import { Link } from "svelte-routing"
  export let board
  export let threadId
</script>

<!-- board name -->
{#if board?.name != ""}
  <h1 class="center" style="font-size:2em;margin-bottom:0px;">
    <Link style="cursor: pointer;" to={"/" + board.id}>
      /{board?.id}/ {board?.name} #{threadId}
    </Link>
  </h1>
{/if}
