<script lang="ts">
  import Fa from "svelte-fa"
  import { faEye } from "@fortawesome/free-solid-svg-icons"
  let showViewOptions
  export let view

  function handleViewChange(e) {
    view = e.target.value
    showViewOptions = false
  }
</script>

{#if showViewOptions}
  <select value={view} required name="View" on:change={handleViewChange}>
    <option value="paged">Paged</option>
    <option value="catalog">Catalog</option>
    <option value="list">List</option>
  </select>
{/if}
<button
  title="View"
  class="fa"
  on:click={() => {
    showViewOptions = !showViewOptions
  }}
>
  <Fa icon={faEye} />
</button>
