<script>
  import { boolFilter } from "../../../stores/postsStore"

  export let page
  let showFilters

  $: if (boolFilterArray) {
    boolFilter.update((o) => {
      o["status"] = boolFilterArray
      return o
    })
  }

  $: boolFilterArray = [
    {
      name: "Received ICP",
      field: "web3.icpReceived",
      value: false,
      show: true,
    },
    {
      name: "Has ICP",
      field: "web3.icpBalance",
      value: false,
      show: true,
    },
    {
      name: "Accepts ICP",
      field: "web3.acceptIcp",
      value: false,
      show: true,
    },
    { name: "Badge", field: "poster.badges", value: false, show: true },
    // {
    //   name: "DMs",
    //   field: "poster.directMessage",
    //   value: false,
    //   show: true,
    // },
    {
      name: "Location flag",
      field: "poster.flag",
      value: false,
      show: true,
    },
    {
      name: "Seachad Reported",
      field: "reports.seaChadPrincipals",
      value: false,
      show: true,
    },
    {
      name: "Flagged",
      field: "properties.flagged",
      value: false,
      show: true,
    },
    {
      name: "NSFW File",
      field: "file.nsfw",
      value: false,
      show: true,
    },
    {
      name: "Saged",
      field: "properties.saged",
      value: false,
      show: page == "thread",
    },
    {
      name: "Token Gated",
      field: "gate.token",
      value: false,
      show: page == "board",
    },
    {
      name: "NFT Gated",
      field: "gate.nft",
      value: false,
      show: page == "board",
    },
  ]
</script>

<div class:show={showFilters} style="text-align:center;">
  {#each boolFilterArray as filter}
    {#if filter.show}
      <label style="padding:10px;">
        <input
          type="checkbox"
          on:change={() => (showFilters = !showFilters)}
          bind:checked={filter.value}
        />
        {filter.name}
      </label>
    {/if}
  {/each}
</div>
