<script lang="ts">
  import Fa from "svelte-fa"
  import { faFilter } from "@fortawesome/free-solid-svg-icons"

  export let option
</script>

<button
  class="fa"
  on:click={() => {
    option = option == "filter" ? "" : "filter"
  }}
>
  <Fa icon={faFilter} />
</button>
