<script lang="ts">
  import Fa from "svelte-fa"
  import { faMagnifyingGlass } from "@fortawesome/free-solid-svg-icons"
  import { stringFilter } from "../../../stores/postsStore"

  export let option

  function applyFilter(event: Event) {
    const filterValue = (event.target as HTMLInputElement).value
    if (filterValue == "") {
      stringFilter.set({ status: "All" })
    } else {
      stringFilter.set({ status: filterValue })
    }
  }
</script>

<button
  title="Sort"
  class="fa"
  on:click={() => {
    option = option == "search" ? "" : "search"
  }}
>
  <Fa icon={faMagnifyingGlass} />
</button>
