<script lang="ts">
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { faGear } from "@fortawesome/free-solid-svg-icons"
  import { fetchBoardThreads, displayFlagged } from "../../../stores/postsStore"
  import { userStore } from "../../../stores/userStore"

  import { useCanister } from "@connect2ic/svelte"
  import { highlightedPosts } from "../../../stores/postsStore"

  const [actor] = useCanister("backend")

  export let boardId
  export let showAllNsfw = false
  $: if ($userStore) {
    showAllNsfw = $userStore.preferences.showNsfw
    showAllFlagged = $userStore.preferences.showFlagged
  }
  let showSettings

  function handleOption(e) {
    if (e.target.value == "RefreshPosts") {
      fetchBoardThreads($actor, boardId)
    } else if (e.target.value == "ToggleDisplayNSFW") {
      showAllNsfw = !showAllNsfw
    } else if (e.target.value == "ToggleDisplayFlagged") {
      displayFlagged.set(!$displayFlagged)
    } else if (e.target.value == "ClearHighlights") {
      highlightedPosts.set([])
    }
    showSettings = false
  }
</script>

<select
  style="lineHeight: normal"
  required
  name="options"
  disabled={false}
  on:change={(e) => handleOption(e)}
>
  <option value="none" selected disabled hidden> Select Option </option>
  <option value="ToggleDisplayNSFW">
    {showAllNsfw ? "Hide All NSFW" : "Show All NSFW"}
  </option>
  <option value="ToggleDisplayFlagged">
    {$displayFlagged ? "Hide All Flagged" : "Show All Flagged"}
  </option>
  {#if $highlightedPosts.length > 0}
    <option value="ClearHighlights">Clear Highlights</option>
  {/if}
</select>
