<script lang="ts">
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { faGear } from "@fortawesome/free-solid-svg-icons"
  import { useCanister } from "@connect2ic/svelte"
  const [actor] = useCanister("backend")

  export let option
</script>

<button
  class="fa"
  on:click={() => {
    option = option == "settings" ? "" : "settings"
  }}
>
  <Fa icon={faGear} />
</button>
