<script lang="ts">
  import Fa from "svelte-fa"
  import {
    faSort,
    faSortDown,
    faSortUp,
  } from "@fortawesome/free-solid-svg-icons"
  import { sortBy } from "../../../stores/postsStore"
  let showSortOptions

  function handleSortChange(event: Event) {
    const sortField = (event.target as HTMLInputElement).value
    sortBy.update((o) => {
      o["col"] = sortField
      return o
    })
  }

  function toggleSortDirection() {
    sortBy.update((o) => {
      o["ascending"] = !o["ascending"]
      return o
    })
  }
</script>

<div class:show={showSortOptions} style="text-align:center;">
  <select
    value={$sortBy?.col}
    style="fontSize: 1rem;"
    required
    name="sortBy"
    on:change={handleSortChange}
  >
    <option value="bumpTimestamp">Bump Order</option>
    <option value="timestamp">Creation Date</option>
    <option value="threadDetails.views">Views</option>
    <option value="threadDetails.replies.length">Reply Count</option>
    <!-- <option value="threadDetails.mentions.length">Mentions</option> -->
    <option value="reports.seaChadPrincipals.length">Seachad Reports</option>
    <option value="reports.count">Reports</option>
    <option value="web3.icpBalance">ICP Balance</option>
    <option value="web3.icpReceived">ICP Received</option>
    <option value="gate.amount">ICP Gate Amount</option>
  </select>
  <!-- sort direction -->
  <button
    class="fa"
    title={$sortBy.ascending ? "Descending" : "Ascending"}
    on:click={() => {
      toggleSortDirection()
    }}
  >
    <Fa icon={!$sortBy.ascending ? faSortDown : faSortUp} />
  </button>
</div>
