<script lang="ts">
  import Fa from "svelte-fa"
  import { faFilter, faSort } from "@fortawesome/free-solid-svg-icons"

  export let option
</script>

<button
  class="fa"
  on:click={() => {
    option = option == "sort" ? "" : "sort"
  }}
>
  <Fa icon={faSort} />
</button>
