<script lang="ts">
  import Fa from "svelte-fa"
  import { faEye } from "@fortawesome/free-solid-svg-icons"

  export let option
</script>

<button
  title="View"
  class="fa"
  on:click={() => {
    option = option == "view" ? "" : "view"
  }}
>
  <Fa icon={faEye} />
</button>
