<script lang="ts">
  // @ts-nocheck
  import { useConnect } from "@connect2ic/svelte"
  import { Link } from "svelte-routing"
  import Fa from "svelte-fa"
  import {
    faLock,
    faLockOpen,
    faClipboard,
    faPenToSquare,
    faXmark,
  } from "@fortawesome/free-solid-svg-icons"
  import { toasts } from "svelte-toasts"
  import { isMobile } from "../../../utils/isMobile"
  import { humanFileSize } from "../../../utils/humanFileSize.js"
  import { timeSince } from "../../../utils/timeSince"
  import { toObject } from "../../../utils/toObject"
  import { isAdmin } from "../../../utils/isAdmin"
  import { isAllowedThroughTokenGate } from "../../../utils/isAllowedThroughTokenGate"
  import { isAllowedThroughNFTGate } from "../../../utils/isAllowedThroughNFTGate"
  import type { Board } from "src/declarations/backend/backend.did"
  import { useCanister } from "@connect2ic/svelte"
  import { userNFTs, fetchUserNFTs, userStore } from "../../../stores/userStore"
  import { boardsInStore, fetchBoards } from "../../../stores/boardsStore"

  const [actor] = useCanister("backend")
  const { principal } = useConnect()
  const { isConnected } = useConnect()
  export let board: Board
  export let assetsFetched
  let isAllowed = true
  let gatedMessage = "You must own the following asset to access this board: "

  if (board && board.gate.token != "") {
    gatedMessage = gatedMessage + board?.gate?.amount + " " + board?.gate?.token
  }
  if (board && board.gate.nft != "") {
    gatedMessage = gatedMessage + board.gate.nft + " NFT"
  }

  $: {
    if (board && board.gate.token != "") {
      isAllowed = isAllowedThroughTokenGate(board?.gate, assetsFetched)
    }
    if (board && board.gate.nft != "") {
      isAllowed = isAllowedThroughNFTGate(board?.gate, $userNFTs)
    }
  }
  // $: if (board && board.gate.token != "") {
  //   isAllowed = isAllowedThroughTokenGate(board?.gate, assetsFetched)
  // }
  // $: if (board && board.gate.nft != "") {
  //   isAllowed = isAllowedThroughNFTGate(board?.gate)
  // }
  // let gatedMessage = ""
  // $: gatedMessage =
  //   "You must have " +
  //   board?.gate?.amount +
  //   " " +
  //   board?.gate?.token +
  //   " in a connected wallet in order to access the '" +
  //   board.name +
  //   "' board"
</script>

<tbody>
  <tr>
    <!-- id -->
    <td>
      {#if isAllowed}
        <Link to={board?.id}>
          {"/" + board.id + "/"}
        </Link>
      {:else}
        <button
          on:click={() =>
            toasts.add({
              description: gatedMessage,
              type: "error",
            })}
          class="fa">{"/" + board.id + "/"}</button
        >
      {/if}
    </td>
    <!-- name -->
    <td>
      {#if isAllowed}
        <Link to={board.id} style="display:inline;">{board.name}</Link>
      {:else}
        <button
          on:click={() =>
            toasts.add({
              description: gatedMessage,
              type: "error",
            })}
          class="fa"
        >
          {board.name}
        </button>
      {/if}
      <!-- gate -->
      {#if board.gate.token != "" || board.gate.nft != ""}
        <span class="fa" title={isAllowed ? "Unlocked" : "Gated"}>
          <Fa icon={isAllowed ? faLockOpen : faLock} />
        </span>
      {/if}
    </td>
    <!-- thread count -->
    <td>
      {#if isAllowed}
        <Link to={board?.id}>{board?.threadCount}</Link>
      {:else}
        <button
          on:click={() =>
            toasts.add({
              description: gatedMessage,
              type: "error",
            })}
          class="fa"
        >
          {board?.threadCount}
        </button>
      {/if}
    </td>
    <!-- post count -->
    <td>
      {#if isAllowed}
        <Link to={board.id}>{board?.postCount}</Link>
      {:else}
        <button
          on:click={() =>
            toasts.add({
              description: gatedMessage,
              type: "error",
            })}
          class="fa"
        >
          {board?.postCount}
        </button>
      {/if}
    </td>
    <!-- file count -->
    <td
      >{#if isAllowed}
        <Link to={board.id}>{board?.fileCount}</Link>
      {:else}
        <button
          on:click={() =>
            toasts.add({
              description: gatedMessage,
              type: "error",
            })}
          class="fa"
        >
          {board?.fileCount}
        </button>
      {/if}
    </td>
    <!-- file upload size -->
    <td
      >{#if isAllowed}
        <Link to={board.id}>{humanFileSize(board?.fileSize)}</Link>
      {:else}
        <button
          on:click={() =>
            toasts.add({
              description: gatedMessage,
              type: "error",
            })}
          class="fa"
        >
          {humanFileSize(board?.fileSize)}
        </button>
      {/if}
    </td>
    <!-- latest activity -->
    <td>
      {#if isAllowed}
        <Link to={board?.id}>{timeSince(Number(board?.bumpTimestamp))}</Link>
      {:else}
        <button
          on:click={() =>
            toasts.add({
              description: gatedMessage,
              type: "error",
            })}
          class="fa"
        >
          {timeSince(Number(board?.bumpTimestamp))}
        </button>
      {/if}
    </td>
    <!-- admin -->
    {#if isAdmin($principal)}
      <td>
        <button
          class="fa"
          on:click={() => {
            navigator.clipboard.writeText(
              JSON.stringify(board, function (key, value) {
                if (typeof value === "bigint") {
                  return value.toString()
                } else {
                  return value
                }
              }),
            )
            toasts.add({
              description: "Board details have been copied to the clipboard.",
              type: "success",
            })
          }}
        >
          {"{ "}{" }"}
        </button>
        <button
          class="fa"
          on:click={() => {
            toasts.add({
              description: "TODO.",
              type: "info",
            })
          }}
        >
          <Fa icon={faPenToSquare} title="Edit board" />
        </button>
        <button
          class="fa danger"
          on:click={() => {
            $actor.deleteBoard(board.id).then((outMessage) => {
              if (Object.keys(outMessage)[0] == "ok") {
                toasts.add({
                  description: Object.values(outMessage)[0],
                  type: "success",
                })
                fetchBoards($actor)
              } else if (Object.keys(outMessage)[0] == "err") {
                toasts.add({
                  description: Object.keys(Object.values(outMessage)[0])[0],
                  type: "error",
                })
              }
            })
          }}
        >
          <Fa icon={faXmark} title="Delete board" />
        </button>
      </td>
    {/if}
  </tr>
</tbody>

<style>
  td {
    border: 1px solid black;
    border-collapse: collapse;
    /* padding: 5px; */
    padding: 0.2em;
  }

  button {
    font-size: 1em;
  }

  td > :global(a) {
    display: block;
    text-decoration: none;
  }
  td > :global(a:hover) {
    display: block;
    text-decoration: underline;
  }
</style>
