<script lang="ts">
  import { onMount } from "svelte"
  import {
    sortBy,
    boardsOutStore,
    boardsInStore,
    fetchBoards,
    isFetchingBoards,
  } from "../../../stores/boardsStore"
  import CreateBoard from "../../../forms/CreateBoard.svelte"
  import Fa from "svelte-fa"
  import {
    faArrowsRotate,
    faPlus,
    faSync,
  } from "@fortawesome/free-solid-svg-icons"
  import Box from "../../Generic/Box.svelte"
  import BoardListColumns from "./BoardListColumns.svelte"
  import BoardListRow from "./BoardListRow.svelte"
  import { useCanister } from "@connect2ic/svelte"
  import { useBalance } from "@connect2ic/svelte"
  import { toasts } from "svelte-toasts"
  import { useFakeData } from "../../../stores/settingsStore"
  import { isAdmin } from "../../../utils/isAdmin"
  import { useConnect } from "@connect2ic/svelte"
  const { principal } = useConnect()
  const [assets] = useBalance()
  const [actor] = useCanister("backend")
  let showCreateBoardForm = false
  $: assetsFetched = $assets
  $: boards = $boardsOutStore
  const showCreateBoardToast = () => {
    toasts.add({
      description: "User created boards are coming soon.",
    })
  }

  onMount(() => {
    fetchBoards($actor)
  })
</script>

{#if showCreateBoardForm}
  <Box>
    <span slot="header"> Create Board </span>
    <div slot="body">
      <CreateBoard bind:showCreateBoardForm />
    </div>
  </Box>
{/if}

<Box>
  <span slot="header">
    Boards
    <!-- refresh -->
    <button
      class="fa"
      title="Refresh"
      on:click={() => {
        fetchBoards($actor)
      }}
    >
      <Fa icon={faArrowsRotate} />
      <button
        class="fa"
        title="New"
        on:click={() => {
          if (isAdmin($principal)) {
            showCreateBoardForm = !showCreateBoardForm
          } else {
            showCreateBoardToast()
          }
        }}
      >
        <Fa icon={faPlus} />
      </button>
      <!-- {/if} -->
    </button></span
  >
  <span slot="body">
    {#if boards.length > 0 && !$isFetchingBoards}
      <table>
        <BoardListColumns />
        {#each boards as board}
          <BoardListRow {assetsFetched} bind:board />
        {/each}
      </table>
    {:else if $isFetchingBoards}
      <div style="padding:10px;">
        <Fa icon={faSync} spin />
      </div>
    {:else}
      <p style="margin: 0.5em;">No boards found</p>
    {/if}
  </span></Box
>

<style>
  table {
    /* border-bottom: 1px solid black; */
    border-collapse: collapse;
    /* text-align: left; */
    /* padding: 1px; */
  }
</style>
