<script lang="ts">
  // @ts-nocheck
  import Fa from "svelte-fa"
  import {
    faCaretDown,
    faCaretUp,
    faHatCowboy,
  } from "@fortawesome/free-solid-svg-icons"
  import { useConnect } from "@connect2ic/svelte"
  import { isMobile } from "../../../utils/isMobile"
  import { isAdmin } from "../../../utils/isAdmin"
  import { sortBy } from "../../../stores/boardsStore"

  const { principal } = useConnect()

  let boardTableColumns = [
    { name: "Id", field: "id", mobile: true },
    { name: "Name", field: "name", mobile: true },
    // { name: "Gate", field: "gate", mobile: true },
    { name: "Threads", field: "threadCount", mobile: true },
    { name: "Posts", field: "postCount", mobile: false },
    { name: "Files", field: "fileCount", mobile: false },
    { name: "Size", field: "fileSize", mobile: false },
    { name: "Latest", field: "bumpTimestamp", mobile: true },
  ]

  function toggleSortDirection() {
    sortBy.update((o) => {
      o["ascending"] = !o["ascending"]
      return o
    })
  }
</script>

<thead>
  <tr>
    {#each boardTableColumns as column}
      <th on:click={toggleSortDirection}>
        {column.name}
        {#if $sortBy.col == column.field && !$sortBy.ascending}
          <Fa icon={faCaretDown} title="Descending" />
        {/if}
        {#if $sortBy.col == column.field && $sortBy.ascending}
          <Fa icon={faCaretUp} title="Ascending" />
        {/if}
      </th>
    {/each}
    {#if isAdmin($principal)}
      <th> <Fa icon={faHatCowboy} style="color: #97572b"/> </th>
    {/if}
  </tr>
</thead>

<style>
  th {
    border: 1px solid black;
    border-collapse: collapse;
    /* padding: 5px; */
    padding: 0.2em;
    cursor: pointer;
    background-color: var(--theme-navbar);
  }
</style>
