<script>
  import Pagination from "../Posts/Pagination.svelte"
  import Filter from "../Posts/Options/Filter.svelte"
  import FilterToggle from "../Posts/Options/FilterToggle.svelte"
  import Sort from "../Posts/Options/Sort.svelte"
  import SortToggle from "../Posts/Options/SortToggle.svelte"
  import View from "../Posts/Options/View.svelte"
  import ViewToggle from "../Posts/Options/ViewToggle.svelte"
  import Search from "../Posts/Options/Search.svelte"
  import SearchToggle from "../Posts/Options/SearchToggle.svelte"
  import Settings from "../Posts/Options/Settings.svelte"
  import SettingsToggle from "../Posts/Options/SettingsToggle.svelte"
  import RefreshBoard from "../Posts/Options/RefreshBoard.svelte"
  import { options } from "linkifyjs"
  export let totalPages
  export let pageNumber
  export let board
  export let view
  export let showAllNsfw
  export let threadCount
  let option = ""
</script>

<div class="row">
  <div class="left">
    <!-- page number -->
    {#if threadCount > 0}
      <Pagination {totalPages} bind:pageNumber />
    {/if}
  </div>
  <div class="right">
    <FilterToggle bind:option />
    <SortToggle bind:option />
    <ViewToggle bind:option />
    <SearchToggle bind:option />
    <SettingsToggle bind:option />
    <RefreshBoard boardId={board.id} />
  </div>
</div>
<hr />
{#if option != ""}
  <div
    class="row"
    style="display: flex;
align-items: center;
justify-content: center;"
  >
    {#if option == "filter"}
      <Filter page={"board"} />
    {:else if option == "sort"}
      <Sort />
    {:else if option == "view"}
      <View bind:view />
    {:else if option == "search"}
      <Search />
    {:else if option == "settings"}
      <Settings boardId={board.id} bind:showAllNsfw />
    {/if}
    <!-- <Sort {showSortOptions} />| -->
  </div>
  <hr />
{/if}

<style>
  .row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    max-width: 98%;
  }
</style>
