<script>
  import Fa from "svelte-fa"
  import { formatFileSize } from "../../utils/formatFileSize"
  import { Link } from "svelte-routing"
  import { boardThreadsStore } from "../../stores/postsStore"
  import { boardStore } from "../../stores/boardStore"
  import { useFakeData } from "../../stores/settingsStore"

  import {
    faComment,
    faImage,
    faUser,
    faEye,
    faDatabase,
  } from "@fortawesome/free-solid-svg-icons"
  export let board

  $: stats = [
    { type: "replies", value: $boardThreadsStore.length, icon: faComment },
    // {
    //   type: "files",
    //   value: $boardThreadsStore.filter((p) => p.file.path != "").length,
    //   icon: faImage,
    // },
    {
      type: "views",
      value: !$useFakeData ? $boardStore.views : 0,
      icon: faEye,
    },
  ]

  //   $: fileSize = "0 bytes"
  let detailString = ""

  $: threadCountText =
    $boardThreadsStore.length +
    " " +
    ($boardThreadsStore.length != 1 ? "threads" : "thread")

  $: postCountText =
    board?.postCount + " " + (board?.postCount != 1 ? "posts" : "post")
  $: detailString = threadCountText
</script>

<!-- <div class="center" style="margin-top:0px;">
  <Link style="cursor: pointer;" to={"/" + board?.id}>
    {detailString}
  </Link>
</div>
<hr /> -->
<div class="center" style="margin-top:0px;">
  {#each stats as stat}
    <span style="padding-left:5px;padding-right:5px;">
      <Fa icon={stat.icon} />
      {stat.value}
    </span>
  {/each}
</div>
