<script>
  // @ts-nocheck
  import { Link } from "svelte-routing"
  import Stats from "./Stats.svelte"
  export let board
</script>

<!-- board name -->
{#if board?.name != ""}
  <h1 class="center" style="font-size:2em;margin-bottom:0px;">
    <Link style="cursor: pointer;" to={"/" + board.id}>
      /{board?.id}/ {board?.name}
    </Link>
  </h1>
{/if}
