<script>
  import Fa from "svelte-fa"
  import { faSync } from "@fortawesome/free-solid-svg-icons"
  import seachad from "../../assets/seachad.png"
  import Box from "../Generic/Box.svelte"
  import Badges from "../Generic/Badges.svelte"
  import { userStore } from "../../stores/userStore"
</script>

<Box>
  <span slot="header"> Badges </span>
  <div
    slot="body"
    class="center"
  >
    {#if $userStore && $userStore.badges.length > 0}
      <Badges badges={$userStore.badges} />
    {:else if !$userStore}
      <Fa icon={faSync} spin />
    {:else}
      None Found
    {/if}
  </div>
</Box>

<style>
  div {
    padding: 5px;
  }
</style>
