<script>
  // @ts-nocheck
  import { navigate } from "svelte-routing"
  import Fa from "svelte-fa"
  import { faClipboard } from "@fortawesome/free-solid-svg-icons"
  import { useConnect } from "@connect2ic/svelte"
  import { getCondensedPrincipal } from "../../utils/getCondensedPrincipal"
  import { timeSince } from "../../utils/timeSince"
  import { getHumanDateFromNano } from "../../utils/getHumanDateFromNano"
  import Box from "../../components/Generic/Box.svelte"
  import { userStore } from "../../stores/userStore"

  const { principal, activeProvider } = useConnect({
    onDisconnect: () => {
      navigate("/")
    },
  })

  let showCondensedPrincipal = true
  let showTimeSinceDateFormat = true
</script>

<Box>
  <span slot="header">
    Information
    <button
      on:click={() => navigator.clipboard.writeText(JSON.stringify($userStore))}
      class="fa"
    >
      <Fa icon={faClipboard} title="Copy User Data" />
    </button>
  </span>
  <div slot="body" class="center">
    <!-- principal -->
    <span>
      Principal:
      <span
        on:click={() => (showCondensedPrincipal = !showCondensedPrincipal)}
        on:keypress={() => {}}
        style="cursor: pointer"
      >
        {showCondensedPrincipal
          ? getCondensedPrincipal($principal)
          : $principal}
      </span>
      <button
        on:click={() => navigator.clipboard.writeText(principal)}
        class="fa"
      >
        <Fa icon={faClipboard} title="Copy Principal" />
      </button>
    </span>
    <!-- provide -->
    <span>
      Provider:
      {$activeProvider?.meta?.id}
    </span>
    <span>
      First Login:
      {#if $userStore}
        <span
          on:click={() => (showTimeSinceDateFormat = !showTimeSinceDateFormat)}
          on:keypress={() => {}}
        />
        {showTimeSinceDateFormat
          ? timeSince(Number($userStore.timestamp)) + " ago"
          : getHumanDateFromNano($userStore.timestamp)}
      {:else}
        ?
      {/if}
    </span>
  </div>
</Box>

<style>
  div {
    gap: 2rem;
    padding: 5px;
  }
</style>
