<script>
  // @ts-nocheck
  import { Link } from "svelte-routing"
  import { useConnect } from "@connect2ic/svelte"
  import Fa from "svelte-fa"
  import { faSync, faEnvelope } from "@fortawesome/free-solid-svg-icons"
  import { useCanister } from "@connect2ic/svelte"
  import Box from "../Generic/Box.svelte"
  import PosterId from "../Post/PosterId.svelte"
  import { timeSince } from "../../utils/timeSince"
  import { userStore } from "../../stores/userStore"
  import { toasts } from "svelte-toasts"
  import Post from "../Post/Post.svelte"
  import { getCondensedPrincipal } from "../../utils/getCondensedPrincipal"

  const { principal } = useConnect()
  const [actor] = useCanister("backend")

  let conversations = []
  let loading = true
  let showCondensedPrincipal = true

  // let messageTableColumns = [
  //   { name: "To", field: "toPosterId" },
  //   { name: "Post", field: "postId" },
  //   { name: "Subject", field: "subject" },
  //   { name: "Timestamp", field: "timestamp" },
  // ]

  $: $userStore && fetchData()

  const fetchData = () => {
    loading = true
    $actor.getConversations().then((fetchedPrincipals) => {
      let principalStringArray = fetchedPrincipals["ok"].map((principal) => {
        return principal.toString()
      })
      conversations = principalStringArray
      loading = false
    })
  }

  function clearMessages() {
    loading = true
    $actor.clearMessages().then(() => {
      toasts.add({
        description: "Messaged cleared",
        type: "info",
      })
      loading = false
    })
  }

  //   function removeMessage(postId) {
  //     loading = true
  //     $actor.removeMessage(postId).then((updatedUser) => {
  //       user = updatedUser["ok"]
  //       loading = false
  //     })
  //   }
</script>

<Box>
  <span slot="header"> Direct Conversations </span>
  <div slot="body" style="padding: 5px;">
    {#if !loading && conversations?.length > 0}
      <table>
        <thead>
          <tr>
            <!-- <th> Messages </th>
            <th> Principal </th> -->
            <!-- {#each conversations as column}
              <th>
                {column.name}
              </th>
            {/each} -->
          </tr>
        </thead>
        {#each conversations as conversationPrincipal}
          <tbody>
            <tr>
              <!-- reply -->
              <td>
                <Link to={"inbox/" + conversationPrincipal}>
                  <Fa icon={faEnvelope} />
                </Link>
              </td>
              <!-- to -->
              <td>
                <!-- <PosterId poster={message.toPosterId} /> -->
                <button
                  class="fa"
                  on:click={() =>
                    (showCondensedPrincipal = !showCondensedPrincipal)}
                >
                  {showCondensedPrincipal
                    ? getCondensedPrincipal(conversationPrincipal)
                    : conversationPrincipal}
                </button>
              </td>
              <!-- threadId={message.boardId + "/" + Post.threadId} -->
              <!-- post id -->
              <!-- <td>
                <Link
                  style="cursor: pointer;"
                  to={message.postId.split("/")[0] +
                    "/thread/" +
                    message.postId.split("/")[1]}
                >
                  {message.postId}
                </Link>
              </td> -->
              <!-- subject -->
              <!-- <td>
                {message.subject}
              </td> -->
              <!-- timestamp -->
              <!-- <td>
                {timeSince(message.timestamp)}
              </td> -->
            </tr>
          </tbody>
        {/each}
      </table>

      <br />
      <button
        style="background-color: var(--theme-danger);"
        on:click={() => clearMessages()}
      >
        Clear
      </button>
    {:else if !loading && conversations?.length == 0}
      <div>None Found</div>
    {:else}
      <Fa icon={faSync} spin />
    {/if}
  </div>
</Box>

<style>
  table {
    margin: auto;
  }
  td {
    padding: 5px;
  }
  thead {
    text-align: center;
  }

  button {
    font-size: inherit;
  }
</style>
