<script>
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { faSync, faXmark } from "@fortawesome/free-solid-svg-icons"
  import { getContext } from "svelte"
  import { useCanister } from "@connect2ic/svelte"
  import Box from "../../components/Generic/Box.svelte"
  import { fetchUser, userStore } from "../../stores/userStore"

  let boards = []

  $: if (actor) {
    $actor.getListedBoards().then((boardResult) => {
      boards = boardResult["ok"]
    })
  }

  var navbarBoardOptions = []

  $: if (boards) {
    navbarBoardOptions = boards
      .filter(function (el) {
        return !$userStore?.navbarBoards?.includes(el.id)
      })
      .sort()
  }

  const [actor, { loading, error }] = useCanister("backend")

  let showNavbarBoardForm = false
  let newNavbarBoardLoading = false
  let deleteNavbarBoardLoading = false
  let deletedNavbarBoard = null

  const { theme } = getContext("theme")
  $: loadingColor = $theme.name == "light" ? "black" : "white"

  function onSubmit(e) {
    newNavbarBoardLoading = true
    showNavbarBoardForm = false
    const formData = new FormData(e.target)
    const data = {}
    for (let field of formData) {
      const [key, value] = field
      data[key] = value
    }

    $actor.addNavbarBoard(data.navbarBoard).then((userFetched) => {
      userStore.set(userFetched["ok"])
      newNavbarBoardLoading = false
    })
  }

  function deleteNavbarBoard(navbarBoard) {
    deletedNavbarBoard = navbarBoard
    deleteNavbarBoardLoading = true
    $actor.deleteNavbarBoard(navbarBoard).then((userFetched) => {
      userStore.set(userFetched["ok"])
      deleteNavbarBoardLoading = false
    })
    showNavbarBoardForm = false
  }
</script>

<Box>
  <span slot="header"> Navbar Boards </span>
  <div slot="body" style="padding: 5px;">
    {#if $userStore}
      {#if $userStore?.navbarBoards.length > 0}
        <!-- navbar board list -->
        <div class="navbar-boards center" style="max-width:800px;">
          {#each $userStore?.navbarBoards as navbarBoard}
            <span>
              {navbarBoard}
              <button
                class="fa delete"
                on:click={() => {
                  deleteNavbarBoard(navbarBoard)
                }}
              >
                <Fa icon={faXmark} />
              </button>
            </span>
          {/each}
        </div>
      {/if}
      <!-- navbar board form -->
      <div>
        {#if !newNavbarBoardLoading}
          <button on:click={() => (showNavbarBoardForm = !showNavbarBoardForm)}>
            Add
          </button>
          {#if showNavbarBoardForm}
            <form on:submit|preventDefault={onSubmit} autoComplete="off">
              <select name="navbarBoard">
                {#each navbarBoardOptions as boardOption}
                  <option value={boardOption.id}
                    >{"/" + boardOption.id + "/ - " + boardOption.name}</option
                  >
                {/each}
              </select>
              <button>Submit</button>
            </form>
          {/if}
        {:else}
          <Fa icon={faSync} spin />
        {/if}
      </div>
    {:else}
      <Fa icon={faSync} spin />
    {/if}
  </div>
</Box>

<style>
  .navbar-boards {
    gap: 1rem;
    padding: 5px;
  }
  .delete {
    padding: 0px;
    color: var(--theme-danger);
  }
  form {
    display: inline;
  }
</style>
