<script>
  // @ts-nocheck
  import { onMount } from "svelte"
  import Fa from "svelte-fa"
  import { faArrowsRotate, faSync } from "@fortawesome/free-solid-svg-icons"
  import { useConnect } from "@connect2ic/svelte"
  import Box from "../../components/Generic/Box.svelte"
  import { userNFTs, fetchUserNFTs, userStore } from "../../stores/userStore"

  const { principal } = useConnect()

  onMount(() => {
    fetchUserNFTs($principal)
  })
</script>

<Box>
  <span slot="header">
    NFTs
    <button
      class="fa"
      on:click={() => {
        fetchUserNFTs()
      }}
    >
      <Fa icon={faArrowsRotate} class="refresh" />
    </button>
  </span>
  <div slot="body">
    {#if $userNFTs.length > 0}
      {#each $userNFTs as nft}
        <!-- {JSON.stringify(nft)} -->
        {nft.name}
        <br />
        {#each nft.tokens as token}
          <img
            src={token.url}
            alt={nft.name + " #" + parseInt(token.index)}
            title={nft.name + " #" + parseInt(token.index)}
          />
        {/each}
        <!-- add + button to display category NFTs. -->
      {/each}
    {:else if !$userStore}
      <Fa icon={faSync} spin />
    {:else}
      None Found
    {/if}
  </div>
</Box>

<style>
  div {
    gap: 2rem;
    padding: 5px;
  }
</style>
