<script>
  // @ts-nocheck
  import { useCanister } from "@connect2ic/svelte"
  import Box from "../../components/Generic/Box.svelte"
  import { userStore } from "../../stores/userStore"

  $: showNsfw = $userStore?.preferences?.showNsfw || false
  $: showFlagged = $userStore?.preferences?.showFlagged || false
  $: boardView = $userStore?.preferences?.boardView || "paged"
  $: threadView = $userStore?.preferences?.threadView || "paged"
  // $: enableDirectMessaging = $userStore?.preferences?.directMessaging || false
  let showNsfwLoading = false
  let showFlaggedLoading = false
  let boardViewLoading = false
  let threadViewLoading = false
  // let enableDirectMessagingLoading = false
  const [actor, { loading, error }] = useCanister("backend")
</script>

<Box>
  <span slot="header"> Preferences </span>
  <div slot="body">
    <!-- show nsfw -->
    <label>
      Always show nsfw files?
      <input
        type="checkbox"
        disabled={showNsfwLoading || !$userStore}
        bind:checked={showNsfw}
        on:change={() => {
          showNsfwLoading = true
          $actor.toggleShowNsfw().then((updatedUser) => {
            userStore.set(updatedUser["ok"])
            showNsfwLoading = false
          })
        }}
      />
    </label>
    <br />
    <!-- show flagged -->
    <label>
      Always show flagged posts?
      <input
        type="checkbox"
        disabled={showFlaggedLoading || !$userStore}
        bind:checked={showFlagged}
        on:change={() => {
          showFlaggedLoading = true
          $actor.toggleShowFlagged().then((updatedUser) => {
            userStore.set(updatedUser["ok"])
            showFlaggedLoading = false
          })
        }}
      />
    </label>
    <br />
    <!-- view -->
    <label>
      Board View
      <select
        disabled={boardViewLoading || !$userStore}
        bind:value={boardView}
        on:change={() => {
          boardViewLoading = true
          $actor.setBoardViewPreference(boardView).then((updatedUser) => {
            userStore.set(updatedUser["ok"])
            boardViewLoading = false
          })
        }}
      >
        <option value="paged">Paged</option>
        <option value="catalog">Catalog</option>
        <option value="list">List</option>
      </select>
    </label>
    <br />
    <!-- view -->
    <label>
      Thread View
      <select
        disabled={threadViewLoading || !$userStore}
        bind:value={threadView}
        on:change={() => {
          threadViewLoading = true
          $actor.setThreadViewPreference(threadView).then((updatedUser) => {
            userStore.set(updatedUser["ok"])
            threadViewLoading = false
          })
        }}
      >
        <option value="paged">Paged</option>
        <option value="catalog">Catalog</option>
        <option value="list">List</option>
      </select>
    </label>
    <br />
    <!-- direct messages -->
    <!-- <label>
      Enable direct messaging?
      <input
        type="checkbox"
        disabled={enableDirectMessagingLoading || !$userStore}
        bind:checked={enableDirectMessaging}
        on:change={() => {
          enableDirectMessagingLoading = true
          $actor.toggleEnableDirectMessaging().then((updatedUser) => {
            userStore.set(updatedUser["ok"])
            enableDirectMessagingLoading = false
          })
        }}
      />
    </label> -->
  </div>
</Box>

<style>
  div {
    padding: 10px;
  }
</style>
