<script>
  // @ts-nocheck
  import Fa from "svelte-fa"
  import {
    faHeart,
    faSync,
    faWindowMinimize,
    faEyeSlash,
  } from "@fortawesome/free-solid-svg-icons"
  import { useCanister } from "@connect2ic/svelte"
  import { getContext } from "svelte"
  import Box from "../Generic/Box.svelte"
  import PostRow from "../../components/Post/PostRow.svelte"
  import { userStore } from "../../stores/userStore"

  const [actor] = useCanister("backend")

  $: posts = []
  let loading = true
  $: title = "Watched Threads"
  let displayType = "watchedThreads"

  $: if ($userStore && displayType == "watchedThreads") {
    title = "Watched Threads"
    fetchWatchedThreads()
  } else if ($userStore && displayType == "minimizedPosts") {
    title = "Minimized Posts"
    fetchMinimizedPosts()
  } else if ($userStore && displayType == "hiddenPosts") {
    title = "Hidden Posts"
    fetchHiddenPosts()
  }

  function fetchWatchedThreads() {
    loading = true
    $actor
      .getPostsFromIds($userStore?.savedPosts?.watchedThreads)
      .then((postObjectArrayFetched) => {
        posts = postObjectArrayFetched["ok"]
        loading = false
      })
  }

  function fetchMinimizedPosts() {
    loading = true
    $actor
      .getPostsFromIds($userStore?.savedPosts?.minimizedPosts)
      .then((postObjectArrayFetched) => {
        posts = postObjectArrayFetched["ok"]
        loading = false
      })
  }

  function fetchHiddenPosts() {
    loading = true
    $actor
      .getPostsFromIds($userStore?.savedPosts?.hiddenPosts)
      .then((postObjectArrayFetched) => {
        posts = postObjectArrayFetched["ok"]
        loading = false
      })
  }

  function toggleFunc() {}

  function clearSavedPosts() {
    if (displayType == "watchedThreads") {
      $actor.clearWatchedThreads().then((updatedUser) => {
        userStore.set(updatedUser["ok"])
      })
    } else if (displayType == "minimizedPosts") {
      $actor.clearMinimizedPosts().then((updatedUser) => {
        userStore.set(updatedUser["ok"])
      })
    } else if (displayType == "hiddenPosts") {
      $actor.clearHiddenPosts().then((updatedUser) => {
        userStore.set(updatedUser["ok"])
      })
    }
  }
</script>

<Box>
  <span slot="header">
    {title}
    {#if displayType != "watchedThreads"}
      <button
        class="fa"
        title={"Watched Threads"}
        on:click={() => (displayType = "watchedThreads")}
      >
        <Fa icon={faHeart} />
      </button>
    {/if}
    {#if displayType != "minimizedPosts"}
      <button
        class="fa"
        title={"Minimized Posts"}
        on:click={() => (displayType = "minimizedPosts")}
      >
        <Fa icon={faWindowMinimize} />
      </button>
    {/if}
    {#if displayType != "hiddenPosts"}
      <button
        class="fa"
        title={"Hidden Posts"}
        on:click={() => (displayType = "hiddenPosts")}
      >
        <Fa icon={faEyeSlash} />
      </button>
    {/if}
  </span>
  <!-- watched threads -->
  <div slot="body" style="padding: 5px;">
    {#if !loading && posts.length > 0}
      {#each posts as post}
        <PostRow postObj={post} toggleFunction={toggleFunc} />
      {/each}
      <br />
      <button
        style="background-color: var(--theme-danger);"
        on:click={() => clearSavedPosts()}
      >
        Clear
      </button>
    {:else if !loading && posts.length == 0}
      <div>None Found</div>
    {:else}
      <div>
        <Fa icon={faSync} spin />
      </div>
    {/if}
  </div>
</Box>
