<script>
  // @ts-nocheck
  import { navigate } from "svelte-routing"
  import { useConnect } from "@connect2ic/svelte"
  const { disconnect } = useConnect()
</script>

<div class="center">
  <button
    on:click={disconnect}
    style="background-color: var(--theme-danger); color: black"
  >
    Sign Out
  </button>
</div>
