<script>
  // @ts-nocheck
  import { getContext } from "svelte"
  import Fa from "svelte-fa"
  import { faArrowsRotate } from "@fortawesome/free-solid-svg-icons"
  import icpLogo from "../../assets/icp.svg"
  import Box from "../../components/Generic/Box.svelte"
  import { useBalance } from "@connect2ic/svelte"
  const [assets, { refetch, error }] = useBalance()

  const { theme } = getContext("theme")

  $: console.log("$assets",$assets)

  $: $assets?.map(asset => {
    // string
    // asset.canisterId
    console.log("asset.canisterId",asset.canisterId)

    // string
    // asset.name
    console.log("asset.name",asset.name)

    // number
    // asset.amount
    console.log("asset.amount",asset.amount)
  })

  // refetch the balance
  refetch()

  // Error
  $: console.log("$error",$error)
  

</script>

<Box>
  <span slot="header">
    Tokens
    <button
      class="fa"
      on:click={() => {
        refetch()
      }}
    >
      <Fa icon={faArrowsRotate} />
    </button>
  </span>
  <div slot="body" class="center">
    {#if $assets?.some((item) => item.amount > 0)}
      {#each $assets as asset}
        {#if asset.amount > 0}
          <span style="margin-right:10px;"
            >{Math.floor(asset.amount * 100) / 100}</span
          >
          {#if asset.name == "ICP"}
            <img src={icpLogo} alt="icp-logo" />
          {:else}
            <span>{asset.name}</span>
          {/if}
        {/if}
      {/each}
    {:else}
      None Found
    {/if}
  </div>
</Box>

<style>
  div {
    padding: 5px;
  }

  img {
    width: 2em;
  }
</style>
