<script>
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { toasts } from "svelte-toasts"
  import { faSync, faXmark } from "@fortawesome/free-solid-svg-icons"
  import { getContext } from "svelte"
  import { useCanister } from "@connect2ic/svelte"
  import Box from "../../components/Generic/Box.svelte"
  import { userStore } from "../../stores/userStore"

  const [actor, { loading, error }] = useCanister("backend")

  let showUsernameForm = false
  let newUsernameLoading = false

  function onSubmit(e) {
    newUsernameLoading = true
    showUsernameForm = false
    const formData = new FormData(e.target)
    const data = {}
    for (let field of formData) {
      const [key, value] = field
      data[key] = value
    }
    if (["Admin", "admin"].includes(data.username)) {
      toasts.add({
        description: "invalid username. Username can not be " + data.username,
        type: "error",
      })
      newUsernameLoading = false
      return
    }
    $actor.claimUsername(data.username).then((fetchedUser) => {
      userStore.set(fetchedUser["ok"])
      newUsernameLoading = false
    })
  }

  function deleteUsername(usernameIn) {
    $actor.deleteUsername(usernameIn).then((fetchedUser) => {
      userStore.set(fetchedUser["ok"])
    })
    showUsernameForm = false
  }
</script>

<Box>
  <span slot="header"> Usernames </span>
  <div slot="body" style="padding: 5px;">
    {#if $userStore}
      {#if $userStore.usernames.length > 0}
        <div class="usernames center" style="max-width:800px;">
          <!-- username list -->
          {#each $userStore.usernames as username}
            <!-- {#if !deletedUsernames.includes(username)} -->
            <span>
              {username}
              <button
                class="fa delete"
                on:click={() => {
                  deleteUsername(username)
                }}
              >
                <Fa icon={faXmark} />
              </button>
            </span>
            <!-- {/if} -->
          {/each}
        </div>
      {/if}
      <!-- claim form -->
      <div>
        {#if !newUsernameLoading}
          <button on:click={() => (showUsernameForm = !showUsernameForm)}>
            Claim
          </button>
          {#if showUsernameForm}
            <form on:submit|preventDefault={onSubmit} autoComplete="off">
              <input
                type="text"
                placeholder="Username"
                name="username"
                required
              />
              <button>Submit</button>
            </form>
          {/if}
        {:else}
          <Fa icon={faSync} spin />
        {/if}
      </div>
    {:else}
      <Fa icon={faSync} spin />
    {/if}
  </div>
</Box>

<style>
  .usernames {
    gap: 1rem;
    padding: 5px;
    flex-wrap: wrap;
  }
  .delete {
    color: var(--theme-danger);
    padding: 0px;
  }
  form {
    display: inline;
  }
</style>
