<script>
  export let properties
</script>

<label>
  <input name="listed" type="checkbox" bind:checked={properties.unListed} />
  UnListed?
</label>
<label>
  <input name="flags" type="checkbox" bind:checked={properties.flags} />
  Show Geography Flags?
</label>
<label>
  <input name="text" type="checkbox" bind:checked={properties.text} />
  Allow Only Text?
</label>
<label>
  <input name="anonymous" type="checkbox" bind:checked={properties.anonymous} />
  Anons Only?
</label>
