<script>
  import linkifyHtml from "linkify-html"
  // import { stylePostLines } from "../../utils/stylePostLines"
  import { highlightedPosts } from "../../stores/postsStore"
  import { toggleArrayValue } from "../../utils/toggleArrayValue"

  export let post
  export let minimized = false
  let quotePattern = /(>>[0-9]+)/ // >>0

  let lines = post.body.split("\n").map((line) => {
    let newLine = line.replaceAll("&gt;", ">")
    return newLine
  })

  function handleAnchorClick(postId) {
    const anchor = document.getElementById("anchor-" + postId)
    window.scrollTo({
      top: anchor.offsetTop - 45,
      behavior: "smooth",
    })
  }

  function addHighlightedPost(postNumber) {
    highlightedPosts.set([])
    let postId = post.boardId + "/" + postNumber
    let updatedHighlightedPosts = toggleArrayValue($highlightedPosts, postId)
    highlightedPosts.set(updatedHighlightedPosts)
  }
</script>

<div class="body">
  {#if !minimized}
    <!-- content -->
    <p class="post-body">
      {#each lines as line}
        {#if line[0] == ">" && line[1] != ">"}
          <span style="color: var(--theme-green);">{@html line}</span>
        {:else if quotePattern.test(line)}
          <button
            class="fa"
            on:click={(event) => {
              addHighlightedPost(line.replace(">>", ""))
              handleAnchorClick(post.boardId + "/" + line.replace(">>", ""))
            }}
          >
            <span style="color: var(--theme-quote);">{@html line}</span>
          </button>
        {:else}
          {@html line}
        {/if}
        <br />
      {/each}
    </p>
  {/if}
</div>

<style>
  .body {
    /* margin-top: 0px;
    margin-left: 10px; */
    overflow: visible;
  }
  .post-body {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    /* padding-left: 10px; */
  }

  .post-body > :global(a) {
    text-decoration: underline;
  }
  p {
    margin: 0px;
    border-radius: 10px;
    padding-right: 10px;
  }
</style>
