<script>
  import { Link } from "svelte-routing"
  import Fa from "svelte-fa"
  import {
    faVolumeHigh,
    faBook,
    faFileZipper,
  } from "@fortawesome/free-solid-svg-icons"

  // props
  export let file = {}
  export let showNsfw = {}
  export let threadId = ""
  export let boardId = ""
  export let view = "paged"
</script>

{#if !file.nsfw || showNsfw}
  <!-- <div> -->
  <!-- audio -->
  {#if file.format == "audio"}
    <!-- <a
      target="_blank"
      rel="noreferrer"
      href={file.path}
      class="fa"
      style={view == "catalog" ? "width: 18em;" : "width: inherit;"}
    >
      <Fa icon={faVolumeHigh} size="5x" />
    </a> -->
    <audio controls src={file.path}>
      <a href={file.path}> Download audio </a>
    </audio>
    <!-- image -->
  {:else if file.format == "image"}
    <!-- image thumb -->
    <Link to={"/" + boardId + "/thread/" + threadId.split("/")[1]}>
      <img
        src={file.path}
        alt={file.name}
        class="fileThumb"
        style={view == "catalog" ? "margin-right: 0px;" : "margin-right: 10px;"}
        loading="lazy"
      />
    </Link>
    <!-- document -->
  {:else if file.format == "document"}
    <a
      target="_blank"
      rel="noreferrer"
      href={file.path}
      class="fa"
      style={view == "catalog" ? "width: 15em;" : "width: inherit;"}
    >
      <Fa icon={faBook} size="10x" />
    </a>
    <!-- video -->
  {:else if file.format == "video"}
    <video controls>
      <source src={file.path} type="video/mp4" />
      <track src="" kind="captions" srclang="en" label="" />
    </video>
    <!-- zip -->
  {:else if file.format == "zip"}
    <a
      target="_blank"
      rel="noreferrer"
      href={file.path}
      class="fa"
      style={view == "catalog" ? "width: 18em;" : "width: inherit;"}
    >
      <Fa icon={faFileZipper} size="10x" />
    </a>
  {/if}
  <!-- </div> -->
{/if}

<style>
  /* div {
    height: calc(5em + 15vw);
  } */

  .fileThumb {
    /* float: left; */
    /* margin-right: 10px; */
    width: 15em;
    /* width: calc(5em + 15vw); */
  }
  .fa {
    /* float: left; */
    margin-right: 10px;
    /* width: 15em; */
    /* height: calc(5em + 15vw); */
  }
  video {
    margin-right: 10px;
    /* float: left; */
    width: 15em;
  }
  audio {
    margin-right: 10px;
    /* float: left; */
    width: 15em;
  }
  img {
    cursor: pointer;
  }
</style>
