<script>
  import Body from "./Body.svelte"
  import { Link } from "svelte-routing"
  import Subject from "./Subject.svelte"
  import ThreadStats from "../Posts/ThreadStats.svelte"
  import FileNsfw from "../Post/FileNsfw.svelte"
  import FileDetails from "../Post/FileDetails.svelte"
  import FileContent from "../Post/FileContent.svelte"
  import Reply from "../Post/Reply.svelte"
  import CatalogFileContent from "../Post/CatalogFileContent.svelte"
  import { isAllowedThroughTokenGate } from "../../utils/isAllowedThroughTokenGate"
  import { useCanister } from "@connect2ic/svelte"
  import linkifyHtml from "linkify-html"
  // import { stylePostLines } from "../../utils/stylePostLines"
  const [actor] = useCanister("backend")

  export let post
  export let showNsfw = false
  export let assets = []

  let onBoardPage = true

  let isAllowed = true
  var maxPostLength = 500
  let thread

  function fetchPreview() {
    $actor.getThread(post.boardId, post.threadId).then((threadResult) => {
      thread = threadResult["ok"]
    })
  }

  fetchPreview()

  // let result = stylePostLines(post.body)
  // const options = { target: "_blank" }
  // let linkifiedBody = linkifyHtml(result, options)

  $: if ((post.gate.token != "" || post.gate.nft != "") && assets.length > 0) {
    isAllowed = isAllowedThroughTokenGate(post.gate, assets)
  }
</script>

<div class="catalog-post">
  <!-- file -->
  {#if post.file.path != ""}
    <!-- sfw -->
    {#if !post.file.nsfw || showNsfw}
      <CatalogFileContent
        file={post.file}
        threadId={post.threadId}
        boardId={post.boardId}
        view="catalog"
        bind:showNsfw
      />
      <!-- nsfw -->
    {:else}
      <FileNsfw {post} bind:showNsfw />
    {/if}
  {/if}
  <!-- thread info -->
  <!-- <br /> -->

  <!-- <div style="font-size:.75rem"> -->
  <!-- <ThreadStats boardId={post.boardId} threadId={post.threadId} {thread} /> -->
  <!-- </div> -->
  {#if post.properties.op && onBoardPage}
    <div style="text-align:center;">
      <Reply {post} {isAllowed} />
    </div>
  {/if}
  <!-- <p style="max-width:200px; margin:auto;"> -->
  <Subject {post} {isAllowed} />
  <div class="catalog-body">
    <!-- {@html linkifiedBody} -->
    <Body {post} />
  </div>
  <!-- </p> -->
</div>

<style>
  .catalog-post {
    overflow-wrap: break-word;
    text-align: center;
    max-width: 15em;
  }
  .catalog-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
</style>
