<script>
  import Audio from "./FileContent/Audio.svelte"
  import Document from "./FileContent/Document.svelte"
  import Image from "./FileContent/Image.svelte"
  // @ts-ignore
  import Video from "./FileContent/Video.svelte"
  import Zip from "./FileContent/Zip.svelte"

  // props
  export let file = {}
  export let showNsfw = {}
  export let postId = 0
  export let view = "paged"
</script>

{#if !file.nsfw || showNsfw}
  <Audio {file} />
  <!-- <Document {file} {view} /> -->
  <Image {postId} {file} {view} />
  <Video {postId} {file} />
  <!-- <Zip {file} {view} /> -->
{/if}
