<script>
  import { humanFileSize } from "../../utils/humanFileSize"
  import Fa from "svelte-fa"
  import {
    faVolumeHigh,
    faBook,
    faFileZipper,
    faImage,
    faVideo,
  } from "@fortawesome/free-solid-svg-icons"

  export let file
  export let hideFile = false
</script>

{#if file.name != ""}
  <span style="vertical-align: top; margin-top:1rem;font-size:.8rem; ">
    <!-- file type / hide file -->
    <button
      class="fa"
      title={"Hidden Posts"}
      on:click={() => (hideFile = !hideFile)}
    >
      {#if file.format == "audio"}
        <Fa icon={faVolumeHigh} />
      {:else if file.format == "document"}
        <Fa icon={faBook} />
      {:else if file.format == "image"}
        <Fa icon={faImage} />
      {:else if file.format == "video"}
        <Fa icon={faVideo} />
      {:else if file.format == "zip"}
        <Fa icon={faFileZipper} />
      {/if}
    </button>
    {#if !hideFile}
      <!-- file name -->
      <a
        target="_blank"
        rel="noopener noreferrer"
        title="Open file in new tab"
        href={file.path}
        style="text-decoration:underline;"
      >
        {file.name}
      </a>
      <!-- file size -->
      <span>
        ({humanFileSize(Number(file.size))}, 100x100)
      </span>
      {#if file.format == "image"}
        <a
          style="text-decoration:underline;"
          target="_blank"
          rel="noopener noreferrer"
          title="Reverse file search on Yandex"
          href={"https://yandex.com/images/search?rpt=imageview&url=" +
            file.filePath}
        >
          yandex
        </a>
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <!-- svelte-ignore a11y-missing-attribute -->
        <!-- <a on:click={() => (hideFile = !hideFile)} class="hide"> hide </a> -->
      {/if}
    {/if}
  </span>
{/if}

<style>
  span {
    /* font-size: 0.75rem; */
  }
  .hide {
    text-decoration: underline;
    cursor: pointer;
    color: var(--theme-text);
  }
</style>
