<script>
  export let post = {}
  export let showNsfw = {}
</script>

{#if post.file.nsfw && !showNsfw}
  <!-- nsfw -->
  <button class="danger" on:click={() => (showNsfw = !showNsfw)}>
    Show NSFW
  </button>
{/if}

<style>
  .danger {
    background: var(--theme-danger);
    padding: 2px;
    margin: 5px;
  }
</style>
