<script>
  import Fa from "svelte-fa"
  import { faFlag } from "@fortawesome/free-solid-svg-icons"
  export let flagged = {}
</script>

{#if flagged}
  <span title="Flagged" class="flagged">
    <Fa icon={faFlag} />
  </span>
{/if}

<style>
  .flagged {
    color: var(--theme-danger);
  }
</style>
