<script lang="ts">
  // @ts-nocheck
  import { toasts } from "svelte-toasts"
  import Fa from "svelte-fa"
  import { faLock, faLockOpen } from "@fortawesome/free-solid-svg-icons"
  import { isAllowedThroughTokenGate } from "../../utils/isAllowedThroughTokenGate"
  import { useConnect, useBalance } from "@connect2ic/svelte"
  const { principal } = useConnect()

  export let gate
  export let isAllowed

  // gate
  let gated = false
  $: isAllowed = isAllowed
  // $: if (gate.token != "") {
  //   isAllowed = isAllowedThroughTokenGate(gate, $assets, $principal)
  // }
  // $: if (gate.nft != "") {
  // }
  let getedMessage = ""
  $: getedMessage =
    "This thread requires " +
    gate.amount +
    " " +
    gate.token +
    " in your wallet to access it."
</script>

{#if gate.token != "" || gate.nft != ""}
  {#if isAllowed}
    <Fa icon={faLockOpen} />
  {:else}
    <button
      title={getedMessage}
      on:click={() =>
        toasts.add({
          description: getedMessage,
          type: "error",
        })}
      class="fa"
    >
      <Fa icon={faLock} />
    </button>
  {/if}
{/if}
