<script lang="ts">
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { faXmark } from "@fortawesome/free-solid-svg-icons"
  import { useConnect, useCanister } from "@connect2ic/svelte"
  import { userStore } from "../../stores/userStore"
  const [actor] = useCanister("backend")

  export let postId
  export let hidden
  export let postNodeRef
</script>

{#if !hidden}
  <button
    class="fa"
    title="Hide"
    on:click={() => {
      hidden = true
      postNodeRef.parentNode.removeChild(postNodeRef)
      if ($userStore && $actor) {
        $actor.toggleHiddenPost(postId).then((updatedUser) => {
          if (updatedUser["ok"]) {
            userStore.set(updatedUser["ok"])
          }
        })
      }
    }}
  >
    <Fa icon={faXmark} style="color: var(--theme-danger" />
  </button>
{/if}
