<script>
  import { toasts } from "svelte-toasts"
  import { AUTHENTICATED_REPORT_LIMIT } from "../../constants"
  import janny from "../../assets/janny.png"
  export let seaChadPrincipals = {}

  const jannyInfo =
    seaChadPrincipals.length +
    " of the 100 SeaChads " +
    (seaChadPrincipals.length + 1 == 1 ? "has" : "have") +
    " voted to hide this post. " +
    "At " +
    AUTHENTICATED_REPORT_LIMIT +
    ' SeaChad reports, the post will be hidden by default but can still be viewed using the "show flagged posts" in the filter options. '
</script>

{#if seaChadPrincipals.length > 0}
  <button
    class="fa"
    on:click={() => {
      toasts.add({
        description: jannyInfo,
        type: "info",
        duration: 10000,
      })
    }}
  >
    <img title={jannyInfo} src={janny} alt="janny" />
    <span>
      <sup>{seaChadPrincipals.length}</sup>/<sub
        >{AUTHENTICATED_REPORT_LIMIT}</sub
      >
    </span>
  </button>
{/if}

<style>
  img {
    cursor: pointer;
    width: 1.5em;
    vertical-align: middle;
  }
  span {
    font-size: 0.7rem;
  }
</style>
