<script lang="ts">
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { faPlus, faMinus } from "@fortawesome/free-solid-svg-icons"
  import { useConnect, useCanister } from "@connect2ic/svelte"
  import { userStore } from "../../stores/userStore"

  const { isConnected, activeProvider } = useConnect()
  const [actor] = useCanister("backend")

  export let postId
  export let minimized
</script>

<button
  class="fa"
  title={minimized ? "Maximize " : "Minimize"}
  on:click={() => {
    minimized = !minimized
    if ($isConnected && $userStore) {
      $actor.toggleMinimizedPost(postId).then((updatedUser) => {
        if (updatedUser["ok"]) {
          userStore.set(updatedUser["ok"])
        }
      })
    }
  }}
>
  <Fa icon={minimized ? faPlus : faMinus} />
</button>
