<script>
  import Minimize from "./Minimize.svelte"
  import Hide from "./Hide.svelte"
  import Remove from "./Remove.svelte"
  import Watched from "./Watched.svelte"

  export let post
  export let minimized
  export let hidden
  export let postNodeRef
</script>

<span>
  <!-- minimize -->
  <Minimize postId={post.id} bind:minimized />
  <!-- hide -->
  <Hide postId={post.id} {hidden} {postNodeRef} />
  <!-- remove -->
  <Remove {post} {postNodeRef} />
</span>
