<script lang="ts">
  import Fa from "svelte-fa"
  import {
    faCheckToSlot,
    faInfo,
    faSync,
    faUser,
    faSquarePollVertical,
  } from "@fortawesome/free-solid-svg-icons"
  import { Principal } from "@dfinity/principal"
  import { userStore } from "../../stores/userStore"
  import { useConnect, useBalance } from "@connect2ic/svelte"
  import { useCanister } from "@connect2ic/svelte"
  import { faMinus, faPlus } from "@fortawesome/free-solid-svg-icons"
  import { toasts } from "svelte-toasts"
  import { onMount } from "svelte"

  const { principal, isConnected } = useConnect()
  const [actor] = useCanister("backend")

  export let post

  let displayPoll = true
  let defaultChoice = null
  let voteLoading = false
  let displayResults = false
  let foundExisting = false

  $: if ($principal && !foundExisting) {
    post.poll.choices.forEach((choice) => {
      choice.voters.forEach((voter) => {
        if (voter.toString() == $principal) {
          defaultChoice = choice
          displayResults = true
          foundExisting = true
        }
      })
    })
  }

  $: if (
    post.poll.participants == "seachad" &&
    $userStore?.badges?.includes("SeaChad")
  ) {
    buttonDisabled = false
  } else if (post?.poll?.participants == "authenticated" && $isConnected) {
    $actor.getPrincipal().then((principal) => {
      if (principal != "2vxsx-fae") {
        buttonDisabled = false
      }
    })
  }

  function onSubmit() {
    voteLoading = true
    $actor.submitPollResponse(post.id, defaultChoice).then((postResult) => {
      if (Object.keys(postResult)[0] == "ok") {
        toasts.add({
          description: "Vote successful",
          type: "success",
        })
        post = Object.values(postResult)[0]
        displayResults = true
      } else {
        toasts.add({
          description:
            Object.keys(postResult["err"])[0] + " for " + defaultChoice.choice,
          type: "error",
        })
      }
      voteLoading = false
      defaultChoice = null
    })
  }

  let buttonDisabled = true

  $: if (
    post.poll.participants == "seachad" &&
    $userStore?.badges?.includes("SeaChad")
  ) {
    buttonDisabled = false
  } else if (post.poll.participants == "authenticated" && $isConnected) {
    $actor.getPrincipal().then((principal) => {
      if (principal != "2vxsx-fae") {
        buttonDisabled = false
      }
    })
  }
  let voteInfo = post.poll.participants + " are eligiible to vote in this poll."
  $: allVoteCount = post.poll.choices.reduce(
    (res, { voters }) => res + voters.length,
    0,
  )
</script>

{#if post.poll.question != ""}
  <div class="poll">
    <button
      class="fa"
      on:click={() => {
        displayPoll = !displayPoll
      }}
    >
      <Fa icon={faCheckToSlot} />
    </button>
    {#if displayPoll}
      {post.poll.question}
      <button
        class="fa"
        style="float: right;"
        title={displayPoll ? "Minimize" : "Maximize "}
        on:click={() => (displayPoll = !displayPoll)}
      >
        <Fa icon={displayPoll ? faMinus : faPlus} />
      </button>
      <br />
      <br />
      {#each post.poll.choices as choices}
        <label>
          <input
            type="radio"
            bind:group={defaultChoice}
            name="choice"
            value={choices}
          />
          {choices.choice}
          {#if choices.voters.length > 0 && displayResults}
            <span class="subject">
              {choices.voters.length}
              ({Math.trunc((choices.voters.length / allVoteCount) * 100)}%)
              <!-- {choices.voters.length}/{(choices.voters.length /
                choices.length) *
                100} -->
              <!-- {choices.voters.length +
                (choices.voters.length == 1 ? " vote" : " votes")} -->
            </span>
          {/if}
        </label>
        <br />
      {/each}
      <br />
      {#if displayResults}
        <span class="subject">
          {allVoteCount} vote{allVoteCount != 1 ? "s" : ""}
        </span>
        <br />
      {/if}
      <form
        class="content"
        on:submit|preventDefault={onSubmit}
        style="display:inline;"
      >
        <button disabled={buttonDisabled || voteLoading}>
          {#if post.poll.participants == "seachad"}
            <span title="SeaChad"> 🎩</span>
          {:else if post.poll.participants == "authenticated"}
            <Fa icon={faUser} />
          {/if}
          {#if !voteLoading}
            Vote
          {:else}
            Voting <Fa icon={faSync} spin />
          {/if}
        </button>
      </form>

      <button
        class="fa"
        type="button"
        style="padding-left:10px;"
        on:click={() => {
          toasts.add({
            description: voteInfo,
          })
        }}
      >
        <Fa icon={faInfo} />
      </button>
      <button
        type="button"
        class="fa"
        style="padding-left:10px;"
        on:click={() => {
          displayResults = !displayResults
        }}
      >
        <!-- {displayResults ? "Hide Results" : "Display Results"} -->
        <Fa icon={faSquarePollVertical} />
        <!-- {allVoteCount} votes -->
      </button>

      <!-- {poll.participants} -->
    {/if}
  </div>
{/if}

<style>
  .poll {
    /* border: 1px solid black; */
    background: var(--theme-postBg);
    /* text-align: right; */
    /* color:red; */
    /* text-align: center; */
    float: right;
    padding: 10px;
    border: 1px solid black;
  }

  .subject {
    color: var(--theme-subject);
  }
</style>
