<script>
  // @ts-nocheck
  import Body from "./Body.svelte"
  import Subject from "./Subject.svelte"
  import PosterId from "./PosterId.svelte"
  import Timestamp from "./Timestamp.svelte"
  import PostId from "./PostId.svelte"
  import Stickied from "./Stickied.svelte"
  import Locked from "./Locked.svelte"
  import Gated from "./Gated.svelte"
  import Saged from "./Saged.svelte"
  import Flagged from "./Flagged.svelte"
  import Web3 from "./Web3.svelte"
  import Options from "./Options.svelte"
  import FileNsfw from "./FileNsfw.svelte"
  import Reply from "./Reply.svelte"
  import FileDetails from "./FileDetails.svelte"
  import Operations from "./Operations.svelte"
  import FileContent from "./FileContent.svelte"
  import CountryFlag from "./CountryFlag.svelte"
  import Janny from "./Janny.svelte"
  import Watched from "./Watched.svelte"
  import Poll from "./Poll.svelte"
  import ThreadStats from "../Posts/ThreadStats.svelte"
  import { useCanister, useBalance } from "@connect2ic/svelte"
  import { isAllowedThroughTokenGate } from "../../utils/isAllowedThroughTokenGate"
  import { isAllowedThroughNFTGate } from "../../utils/isAllowedThroughNFTGate"
  import { isMobile } from "../../utils/isMobile"
  import { userStore, userNFTs } from "../../stores/userStore"
  import { highlightedPosts } from "../../stores/postsStore"
  import { useConnect } from "@connect2ic/svelte"
  import { getIsAllowed } from "../../utils/getIsAllowed"

  // import { anonIdToThreadId } from "../../utils/anonIdToThreadId"

  const [actor] = useCanister("backend")

  export let post = {}
  export let onBoardPage = true
  // export let quickReplyTo = null
  export let sendMessage = null
  // export let thread = []
  export let assets = []
  export let showAllNsfw = false

  let showWeb3 = false
  let showTipForm = false
  let minimized = false
  $: $userStore && fetchMinimized($userStore)
  const fetchMinimized = (user) => {
    minimized = $userStore?.savedPosts?.minimizedPosts?.includes(post.id)
  }

  let showOptions = false
  $: showNsfw = showAllNsfw
  let hideFile = false
  let hidden = false
  let postNodeRef
  $: isAllowed = getIsAllowed(post.gate, assets, $userNFTs)
  // function fetchPreview() {
  //   $actor.getThread(post.boardId, post.threadId).then((threadResult) => {
  //     thread = threadResult["ok"]
  //       .filter(function (p) {
  //         return p.properties.op == false
  //       })
  //       .sort((a, b) => a.id - b.id)
  //       .slice(0, 3)
  //   })
  // }
  // fetchPreview()

  useConnect({
    onDisconnect: () => {
      if (post.gate.token != "" || post.gate.nft != "") {
        isAllowed = false
      }
    },
  })
</script>

{#if !hidden}
  <div
    bind:this={postNodeRef}
    class={$highlightedPosts.includes(post.id) ? "highlighted" : ""}
    style="border-bottom: 1px solid var(--theme-navbar); padding-bottom:5px; padding-top:5px;"
  >
    <!-- scroll anchor -->
    <!-- <a id="anchor-{post.id}" >
    </a> -->
    <!-- minimize -->
    <div class="post" id="anchor-{post.id}">
      <div class="vl" />
      <!-- options -->
      <Options
        bind:post
        bind:showOptions
        bind:minimized
        bind:hidden
        bind:showWeb3
        bind:sendMessage
        {onBoardPage}
      />
      <!-- operations -->
      {#if !isMobile().any()}
        <Operations bind:post bind:minimized bind:hidden {postNodeRef} />
      {/if}
      <!-- flagged -->
      <Flagged flagged={post.properties.flagged} />
      <!-- stickied -->
      <Stickied stickied={post.properties.stickied} />
      <!-- locked -->
      <Locked locked={post.properties.locked} />
      <!-- gated -->
      <Gated gate={post.gate} bind:isAllowed />
      <!-- saged -->
      <Saged saged={post.properties.saged} />
      <!-- web3 -->
      <Web3 web3={post.web3} bind:showWeb3 bind:showTipForm />
      <!-- janny -->
      <Janny seaChadPrincipals={post.reports.seaChadPrincipals} />
      <!-- poster id -->
      <PosterId {post} badges={post.poster.badges} {onBoardPage} />
      <!-- country flag -->
      <CountryFlag country={post.poster.country} flag={post.poster.flag} />
      <!-- timestamp -->
      <Timestamp timestamp={post.timestamp} />
      <!-- post id -->
      <PostId {post} />
      <!-- reply -->
      {#if post.properties.op && onBoardPage && !minimized}
        <span style="float: right;font-size: 0.9em;">
          <Reply {post} bind:isAllowed />
        </span>
      {/if}
      <br />
      <!-- file -->
      {#if post.file.path != "" && !minimized && (!post.file.nsfw || showNsfw)}
        <FileDetails file={post.file} bind:hideFile />
      {/if}
      {#if post.file.path != "" && !minimized && !hideFile && (!post.file.nsfw || showNsfw)}
        <br />
        <FileContent file={post.file} postId={post.id} bind:showNsfw />
      {/if}
      <span>
        <span style="overflow:scroll;">
          <!-- save -->
          {#if post.properties.op && $userStore && $userStore?.savedPosts?.watchedThreads?.includes(post.id)}
            <Watched postId={post.id} />
          {/if}
        </span>
        <!-- file nsfw toggle -->
        {#if post.file.path != "" && !minimized}
          <FileNsfw {post} bind:showNsfw />
        {/if}
        <!-- subject -->
        {#if post.subject != "" && !minimized}
          <Subject {post} {isAllowed} />
        {/if}
        <Body {minimized} {post} />
      </span>
    </div>
    <!-- poll -->
    {#if post.poll?.question && !minimized}
      <Poll bind:post />
    {/if}
    <div style="clear:both;" />
  </div>
{/if}

<style>
  .post {
    overflow: default;
  }
</style>
