<script>
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { faXmark } from "@fortawesome/free-solid-svg-icons"
  import { useCanister } from "@connect2ic/svelte"
  import { Link } from "svelte-routing"
  import Subject from "./Subject.svelte"
  import Timestamp from "./Timestamp.svelte"
  const [actor] = useCanister("backend")

  export let postObj
  export let toggleFunction
</script>

<div>
  <!-- post id -->
  <Link to={"/" + postObj?.id?.replace("/", "/thread/")}>
    {postObj?.id}
  </Link>
  <!-- post subject -->
  <Subject post={postObj} isAllowed={true} />
  <!-- post body -->
  {postObj?.body?.slice(0, 20)}
  <!-- time stamp -->
  <Timestamp timestamp={postObj?.timestamp} />
  <button
    class="fa delete"
    on:click={() => {
      toggleFunction(postObj.id)
    }}
  >
    <Fa icon={faXmark} />
  </button>
</div>

<style>
  div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .delete {
    padding: 0px;
    color: var(--theme-danger);
  }
</style>
