<script>
  // @ts-nocheck
  import Fa from "svelte-fa"
  import {
    faUserSecret,
    faInfinity,
    faUser,
  } from "@fortawesome/free-solid-svg-icons"
  import { getCondensedPrincipal } from "../../utils/getCondensedPrincipal"
  import { stringToColor } from "../../utils/stringToColor"
  import { getContrast } from "../../utils/getContrast"
  import { generateAnonId } from "../../utils/generateAnonId"
  import Badges from "../Generic/Badges.svelte"
  import { isMobile } from "../../utils/isMobile"
  import { highlightAllPostsByPosterId } from "../../utils/highlightAllPostsByPosterId"
  // import { anonIdToThreadId } from "../../utils/anonIdToThreadId"
  export let post = {}
  export let badges = []
  export let onBoardPage
  let showPosterIdMenu = false
  let posterIdColor = ""
  $: posterIdType = Object.keys(post.poster.posterId)[0]
  $: posterIdValue = Object.values(post.poster.posterId)[0]
  $: if (posterIdType == "Admin") {
    posterIdColor = "#000000"
  } else {
    posterIdColor = stringToColor(posterIdValue)
  }
  $: posterIdColorContrast = getContrast(posterIdColor)
</script>

<section class="dropdown">
  <button
    title="Poster ID"
    class="fa"
    on:click={() => {
      showPosterIdMenu = !showPosterIdMenu
    }}
  >
    <span
      class="posterId"
      style="background-color:{posterIdColor};color:{posterIdColorContrast};"
      title={posterIdType.charAt(0).toUpperCase() +
        posterIdType.slice(1) +
        ": " +
        posterIdValue}
    >
      <!-- posterId type icon -->
      <!-- <span > -->
      <!-- anonymous -->
      {#if posterIdType == "Anon"}
        <Fa icon={faUserSecret} />
        <!-- principal -->
      {:else if posterIdType == "Principal"}
        <Fa icon={faInfinity} />
        <!-- username -->
      {:else if posterIdType == "Username" || posterIdType == "Admin"}
        <Fa icon={faUser} />
      {/if}
      <!-- </span> -->
      <!-- posterId value -->
      <!-- <span> -->
      <!-- if not mobile -->
      <!-- {isMobile().any()
        ? ""
        : posterIdType == "Principal"
        ? getCondensedPrincipal(posterIdValue)
        : posterIdValue} -->
      {posterIdType == "Principal"
        ? getCondensedPrincipal(posterIdValue)
        : posterIdValue}
      <!-- </span> -->
      <!-- badges -->
      <Badges {badges} />
    </span>
  </button>

  <div id="myDropdown" class:show={showPosterIdMenu} class="dropdown-content">
    <button>
      {posterIdType + ": " + posterIdValue}
    </button>
    {#if badges.length != 0}
      <button> <Badges {badges} showDescription={true} /> </button>
    {/if}
    {#if !onBoardPage}
      <button
        on:click={() => {
          highlightAllPostsByPosterId(post)
          showPosterIdMenu = false
        }}
      >
        Highlight all
      </button>
    {/if}
  </div>
</section>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
    /* font-size: 0.75rem; */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f6f6f6; */
    min-width: 200px;
    /* border: 1px solid #ddd; */
    z-index: 999;
    color: var(--text-color) !important;
  }
  .show {
    display: block;
    /* z-index: 999; */
  }

  .posterId {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50px;
    cursor: pointer;
    padding-bottom: -2px;
    margin-bottom: 0px;
  }
</style>
