<script>
  // @ts-nocheck
  import { showAndQuoteQuickReply } from "../../utils/showAndQuoteQuickReply"
  export let post = {}
  // export let quickReplyTo = null
  import { highlightedPosts, replyingToStore } from "../../stores/postsStore"
  import { toggleArrayValue } from "../../utils/toggleArrayValue"
</script>

<button
  on:click={() => {
    showAndQuoteQuickReply(post.id.split("/")[1])
    let updatedHighlightedPosts = toggleArrayValue($highlightedPosts, post.id)
    highlightedPosts.set(updatedHighlightedPosts)
    replyingToStore.set(post)

    // if (quickReplyTo != post.threadId) {
    //   quickReplyTo = post.threadId
    // } else {
    //   quickReplyTo = post.id.split("/")[1]
    // }
  }}
  title="Post ID"
  class="fa"
>
  <span>
    #{post.id.split("/")[1]}
  </span>
</button>

<style>
  button {
    padding: 0px;
  }
</style>
