<script>
  import PosterId from "./PosterId.svelte"
  import Timestamp from "./Timestamp.svelte"
  import PostId from "./PostId.svelte"
  import Fa from "svelte-fa"
  import { faMinus, faPlus } from "@fortawesome/free-solid-svg-icons"
  import Saged from "./Saged.svelte"

  export let post

  let minimized = false
</script>

<!-- minimize -->
<button
  class="fa"
  style="float: left;"
  title={minimized ? "Maximize " : "Minize"}
  on:click={() => (minimized = !minimized)}
>
  <Fa icon={minimized ? faPlus : faMinus} />
</button>
<div>
  <p class="header">
    <!-- poster id -->
    <PosterId
      poster={post.poster.posterId}
      threadId={post.boardId + post.threadId}
    />
    <!-- time stamp -->
    <Timestamp timestamp={post.timestamp} />
    <!-- saged -->
    <Saged saged={post.properties.saged} />
    <!-- post id -->
    <PostId {post} />
  </p>
  {#if !minimized}
    <p class="body">
      {post.body}
    </p>
  {/if}
</div>
<br />

<style>
  div {
    background-color: var(--theme-postBg);
    display: table;
    border-radius: 10px;
    border: 1px solid black;
  }
  .header {
    background-color: var(--theme-navbar);
    border-bottom: 1px solid black;
  }
  p {
    margin: 0px;
    border-radius: 10px;
    padding-right: 10px;
  }
  .body {
    margin: 5px;
  }
</style>
