<script>
  import Fa from "svelte-fa"
  import { faTrash } from "@fortawesome/free-solid-svg-icons"
  export let properties
</script>

{#if properties.flagged || properties.hidden}
  <span title="Removed">
    <Fa icon={faTrash} />
  </span>
{/if}
