<script lang="ts">
  // @ts-nocheck
  import { toasts } from "svelte-toasts"
  import { isAdmin } from "../../utils/isAdmin"
  import Fa from "svelte-fa"
  import { faTrash } from "@fortawesome/free-solid-svg-icons"
  import { useConnect, useCanister } from "@connect2ic/svelte"

  const { principal } = useConnect()

  const [actor] = useCanister("backend")

  export let post
  export let postNodeRef
</script>

{#if isAdmin($principal) && !post.properties.flagged}
  <button
    class="fa"
    title="Remove"
    on:click={() => {
      postNodeRef.parentNode.removeChild(postNodeRef)
      if ($actor) {
        $actor.removePost(post.id).then((updatedPost) => {
          if (Object.keys(updatedPost)[0] == "ok") {
            toasts.add({
              description: "removed post " + updatedPost["ok"].id,
              type: "success",
            })
          } else if (Object.keys(updatedPost)[0] == "err") {
            toasts.add({
              description: Object.keys(Object.values(updatedPost)[0])[0],
              type: "error",
            })
          }
        })
      }
    }}
  >
    <Fa icon={faTrash} />
  </button>
{/if}
