<script lang="ts">
  import { Link } from "svelte-routing"
  import { toasts } from "svelte-toasts"
  import Fa from "svelte-fa"
  import {
    faComment,
    faImage,
    faUser,
    faEye,
    faDatabase,
  } from "@fortawesome/free-solid-svg-icons"
  import { formatFileSize } from "../../utils/formatFileSize"
  import { isMobile } from "../../utils/isMobile"

  export let post
  export let isAllowed

  $: stats = [
    {
      type: "replies",
      value: post.threadDetails.postIds.length,
      icon: faComment,
      displayMobile: true,
    },
    {
      type: "views",
      value: post.threadDetails.views,
      icon: faEye,
      displayMobile: true,
    },
    {
      type: "posters",
      value: post.threadDetails.uniquePosters.length,
      icon: faUser,
      displayMobile: false,
    },
    {
      type: "files",
      value: post.threadDetails.fileCount,
      icon: faImage,
      displayMobile: false,
    },
    {
      type: "file size",
      value: formatFileSize(post.threadDetails.fileSize),
      icon: faDatabase,
      displayMobile: false,
    },
  ]

  let message =
    "You must have " +
    post.gate.amount +
    " " +
    post.gate.token +
    " in order to access this thread."
</script>

<span>
  {#if isAllowed}
    <Link
      style="cursor: pointer;"
      to={post.boardId + "/thread/" + post.threadId.split("/")[1]}
    >
      {#each stats as stat}
        {#if !isMobile().any() || stat.displayMobile}
          <span style="padding-left:4px;padding-right:4px;">
            <Fa icon={stat.icon} />
            {stat.value}
          </span>
        {/if}
      {/each}
    </Link>
  {:else}
    <button
      on:click={() =>
        toasts.add({
          description: message,
          type: "error",
        })}
      class="fa"
    >
      [Gated]
    </button>
  {/if}
</span>

<style>
  span {
    /* float: right; */
    font-size: 0.9em;
  }

  :global(a:hover) {
    text-decoration: none;
  }
</style>
