<script>
  import Fa from "svelte-fa"
  import { faLeaf } from "@fortawesome/free-solid-svg-icons"

  export let saged = {}
</script>

{#if saged}
  <span class="saged" title="Saged">
    <Fa icon={faLeaf} />
  </span>
{/if}

<style>
  .saged {
    color: var(--theme-sage);
  }
</style>
