<script>
  import sticky from "../../assets/sticky.gif"
  export let stickied = {}
</script>

{#if stickied}
  <span title="Stickied" class="stickied">
    <img src={sticky} alt="Sticky" />
  </span>
{/if}
