<script>
  import { Link } from "svelte-routing"
  import { toasts } from "svelte-toasts"

  // @ts-nocheck
  export let post
  export let isAllowed

  let message =
    "You must have " +
    post.gate.amount +
    " " +
    post.gate.token +
    " in order to access this thread."
</script>

{#if isAllowed}
  <Link
    class="subject"
    style="cursor: pointer;"
    to={post.boardId + "/thread/" + post.threadId.split("/")[1]}
  >
    <span class="subject">
      {post.subject}
    </span>
  </Link>
{:else}
  <button
    on:click={() =>
      toasts.add({
        description: message,
        type: "error",
      })}
    class="fa"
  >
    <span class="subject">
      {post.subject}
    </span>
  </button>
{/if}

<style>
  .subject {
    color: var(--theme-subject);
    font-weight: 700;
    padding-left: 1px;
  }
  button {
    font-size: calc(12px + 0.390625vw);
    padding: 0px;
  }
</style>
