<script>
  // @ts-nocheck
  import { getHumanDateFromNano } from "../../utils/getHumanDateFromNano"
  import { timeSince } from "../../utils/timeSince"

  export let timestamp = {}
  let timestampViewToggle = true
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<span
  title="Timestamp"
  on:click={() => (timestampViewToggle = !timestampViewToggle)}
>
  {timestampViewToggle
    ? timeSince(timestamp) + " ago"
    : getHumanDateFromNano(timestamp)}
</span>

<style>
  span {
    cursor: pointer;
    margin-right: 0.5rem;
  }
</style>
