<script>
  import Fa from "svelte-fa"
  import { faPaperPlane } from "@fortawesome/free-solid-svg-icons"
  import { form, field } from "svelte-forms"
  import { required } from "svelte-forms/validators"

  function handleOnSubmit() {}

  function validate() {}

  let icpTipAmount = 1

  const onChange = () => {
    icpTipAmount = icpTipAmount
  }
</script>

<form on:submit|preventDefault={validate}>
  <input
    type="number"
    min="1"
    max="10"
    on:change={onChange}
    bind:value={icpTipAmount}
  />
  <span> ICP </span>
  <button type="submit" class="fa">
    <Fa icon={faPaperPlane} />
  </button>
</form>

<style>
  form {
    display: inline;
  }
  input {
    width: 2.5em;
    margin: 0px;
    padding: 0px;
  }
</style>
