<script>
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { faHeart } from "@fortawesome/free-solid-svg-icons"
  import { Actor } from "@dfinity/agent"
  import { useCanister } from "@connect2ic/svelte"
  import { userStore } from "../../stores/userStore"

  const [actor, { loading, error }] = useCanister("backend")
  export let postId
  let watched = false

  $: $userStore && fetchData($userStore)
  const fetchData = (user) => {
    watched = user?.savedPosts?.watchedThreads?.includes(postId)
  }
</script>

<button
  class={watched ? "watched fa" : "unwatched fa"}
  title={watched ? "Unwatch" : "Watch"}
  on:click={() => {
    $actor.toggleWatchedThread(postId).then((user) => {
      user = user["ok"]
      watched = user.savedPosts?.watchedThreads?.includes(postId)
    })
  }}
>
  <Fa icon={faHeart} />
</button>

<style>
  .watched {
    color: var(--theme-danger);
  }
  .unwatched {
    color: grey;
  }
</style>
