<script>
  import icpLogo from "../../assets/icp.svg"
  import { anonymizeBalance } from "../../utils/anonymizeBalance"
  import Fa from "svelte-fa"
  import {
    faWallet,
    faGift,
    faHandHoldingHeart,
    faPaperPlane,
  } from "@fortawesome/free-solid-svg-icons"
  export let web3 = {}
  export let showWeb3 = {}
  export let showTipForm = {}

  let icpTipAmount = 1

  function handleOnSubmit() {}
  function validate() {}
  const onChange = () => {
    icpTipAmount = icpTipAmount
  }
</script>

{#if web3.acceptIcp == true || web3.icpBalance > 0}
  <section class="dropdown">
    <button
      title="Web3"
      class="fa"
      on:click={() => {
        showWeb3 = !showWeb3
      }}
    >
      <img src={icpLogo} alt="ICP Logo" />
    </button>

    <div id="myDropdown" class:show={showWeb3} class="dropdown-content">
      <button>
        <Fa style="color: #964B00;" icon={faWallet} />
        ~{anonymizeBalance(web3.icpBalance)} ICP
      </button>
      <button>
        <Fa style="color: red;" icon={faGift} />
        {web3.icpReceived} ICP Received
      </button>
      <button on:click={() => (showTipForm = !showTipForm)}>
        <Fa style="color: black;" icon={faHandHoldingHeart} /> Send ICP
      </button>
      {#if showTipForm}
        <form on:submit|preventDefault={validate} class="tip-form">
          Send
          <input
            type="number"
            min="1"
            max="10"
            on:change={onChange}
            bind:value={icpTipAmount}
          />
          ICP
          <button type="submit" class="fa" style="display:inline;color:black;">
            <Fa icon={faPaperPlane} />
          </button>
        </form>
      {/if}
    </div>
  </section>
{/if}

<style>
  .dropdown {
    position: relative;
    display: inline-block;
    /* font-size: 0.75rem; */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f6f6f6; */
    min-width: 200px;
    /* border: 1px solid #ddd; */
    /* z-index: 999; */
    color: var(--text-color) !important;
  }

  /* Show the dropdown menu */
  .show {
    display: block;
    /* z-index: 999; */
  }

  img {
    width: 2em;
    cursor: pointer;
  }

  input {
    width: 2.5em;
    margin: 0px;
    padding: 0px;
  }

  .tip-form {
    background: white;
    color: black;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
  }

  .send-icp {
  }
</style>
