<script lang="ts">
  import { useBalance } from "@connect2ic/svelte"

  import Post from "../Post/Post.svelte"
  import CatalogPost from "../Post/CatalogPost.svelte"
  const [assets] = useBalance()

  export let posts = []
  export let onBoardPage = false
  export let view = "paged"
</script>

{#each posts as post}
  {#if view == "paged"}
    <Post {post} {onBoardPage} bind:assets={$assets} />
  {:else if view == "catalog"}
    <CatalogPost {post} />
  {/if}
{/each}
