<script>
  import CatalogPost from "../../components/Post/CatalogPost.svelte"
  export let posts
</script>

<li class="catalog center">
  {#each posts as post}
    <CatalogPost {post} />
  {/each}
</li>

<style>
  .catalog {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: .5rem;
    /* justify-content: space-between; */
  }
</style>
