<script>
  import { Link } from "svelte-routing"
  import PosterId from "../Post/PosterId.svelte"
  import CountryFlag from "../Post/CountryFlag.svelte"
  import Timestamp from "../Post/Timestamp.svelte"
  import Reply from "../Post/Reply.svelte"
  import { highlightedPosts } from "../../stores/postsStore"
  import { timeSince } from "../../utils/timeSince"
  import linkifyHtml from "linkify-html"
  import { isAllowedThroughTokenGate } from "../../utils/isAllowedThroughTokenGate"
  import { isAllowedThroughNFTGate } from "../../utils/isAllowedThroughNFTGate"
  import { useConnect, useBalance } from "@connect2ic/svelte"
  import { userNFTs } from "../../stores/userStore"
  const [assets] = useBalance()

  export let post
  let isAllowed = true

  $: {
    if (post.gate.token != "") {
      isAllowed = isAllowedThroughTokenGate(post.gate, $assets)
    }
    if (post.gate.nft != "") {
      isAllowed = isAllowedThroughNFTGate(post.gate, $userNFTs)
    }
  }
</script>

<tr>
  <td
    class={$highlightedPosts && $highlightedPosts.includes(post.id)
      ? "highlighted"
      : ""}
  >
    <Link to={"/" + post.boardId + "/thread/" + post.id.split("/")[1]}>
      {post.id.split("/")[1]}
    </Link>
  </td>
  <td
    class={$highlightedPosts && $highlightedPosts.includes(post.id)
      ? "highlighted"
      : ""}
  >
    <!-- poster id -->
    <PosterId {post} badges={post.poster.badges} onBoardPage={true} />
  </td>
  <td
    class={$highlightedPosts && $highlightedPosts.includes(post.id)
      ? "highlighted"
      : ""}
  >
    <!-- country flag -->
    <CountryFlag country={post.poster.country} flag={post.poster.flag} />
  </td>

  <td
    class={$highlightedPosts && $highlightedPosts.includes(post.id)
      ? "highlighted"
      : ""}
  >
    {#if post.subject != ""}
      <Link to={"/" + post.boardId + "/thread/" + post.id}>
        <span class="subject">
          {post.subject.substring(0, 30) + " "}
        </span>
      </Link>
    {/if}
    {#if post.body != ""}
      <span>
        {@html linkifyHtml(post.body.substring(0, 50))}
      </span>
    {/if}
  </td>
  <td>
    <!-- timestamp -->
    <Timestamp timestamp={post.timestamp} />
  </td>
  <td>
    <Reply {post} {isAllowed} />
    <!-- {post.threadDetails.postIds.length}  -->
  </td>
</tr>

<style>
  .subject {
    color: var(--theme-subject);
    font-weight: 700;
  }
</style>
