<script>
  import ListRow from "../../components/Posts/ListRow.svelte"
  export let posts
</script>

<table
  style="text-align: center; width: fit-content; margin: auto; table-layout: auto;"
>
  <thead>
    <tr>
      <th> Id </th>
      <th> Poster </th>
      <th> Flag </th>
      <th> Post </th>
      <th> Timestamp </th>
      <th> Stats </th>
    </tr>
  </thead>
  <tbody>
    {#each posts as post}
      <ListRow {post} />
    {/each}
  </tbody>
</table>
