<script>
  import CreatePost from "../../forms/CreatePost.svelte"
  export let board
  export let threadParam = null
  export let op = {}
  let showCreatePostForm = false
</script>

<div class="center">
  <button on:click={() => (showCreatePostForm = !showCreatePostForm)}>
    {#if !threadParam}
      New Thread
    {:else}
      Reply
    {/if}
  </button>
</div>
<div class="center">
  {#if showCreatePostForm}
    <CreatePost
      {board}
      {threadParam}
      isQuickReply={false}
      bind:showCreatePostForm
      onPage={!threadParam ? "board" : "thread"}
      {op}
    />
  {/if}
</div>
<hr />
