<script lang="ts">
  import Fa from "svelte-fa"
  import { faArrowLeft, faArrowRight } from "@fortawesome/free-solid-svg-icons"

  export let totalPages
  export let pageNumber

  const nextPage = () => {
    if (pageNumber !== totalPages) pageNumber += 1
  }
  const prevPage = () => {
    if (pageNumber !== 1) pageNumber -= 1
  }
</script>

Page
{#if pageNumber != 1}
  <button on:click={prevPage} class="fa" title="First">
    <Fa icon={faArrowLeft} />
  </button>
{/if}
<span>
  <select bind:value={pageNumber}>
    {#each Array(totalPages) as _, index (index)}<option value={index + 1}
        >{index + 1}</option
      >{/each}
  </select>
</span>
{#if pageNumber != totalPages}
  <button on:click={nextPage} class="fa" title="Next">
    <Fa icon={faArrowRight} />
  </button>
{/if}
of
<button on:click={() => (pageNumber = totalPages)} class="fa">
  {totalPages}
</button>
