<script>
  // @ts-nocheck
  import { getContext } from "svelte"
  import { formatFileSize } from "../../utils/formatFileSize"
  import { Link } from "svelte-routing"
  import { useCanister } from "@connect2ic/svelte"

  const [actor] = useCanister("backend", { mode: "anonymous" })

  export let boardId
  export let threadId
  export let thread = []
  $: fileSize = "0 bytes"
  let detailString = ""

  $: if (thread.length > 1) {
    fileSize = formatFileSize(
      thread.map((i) => i.file.size).reduce((a, b) => a + b),
    )
  }
  $: postCount = thread.length
  $: postCountText = postCount + " " + (postCount != 1 ? "posts" : "post")
  $: posterCount = thread.filter((obj, index) => {
    return (
      index ===
      thread.findIndex((o) => obj.poster.posterId === o.poster.posterId)
    )
  }).length
  $: posterCountText =
    posterCount + " " + (posterCount != 1 ? "posters" : "poster")
  $: fileCount = thread.filter(function (p) {
    return p.file.path != ""
  }).length
  $: fileCountText = fileCount + " " + (fileCount != 1 ? "files" : "file")

  $: detailString =
    postCountText +
    ", " +
    posterCountText +
    ", " +
    fileCountText +
    " (" +
    fileSize +
    ")"
</script>

<div>
  <Link style="cursor: pointer;" to={"/" + boardId + "/thread/" + threadId}>
    {detailString}
  </Link>
</div>

<style>
  /* span {
    clear: both;
  } */
</style>
