<script>
  // @ts-nocheck
  import { toasts } from "svelte-toasts"
  import { Principal } from "@dfinity/principal"
  import Fa from "svelte-fa"
  import { faSync } from "@fortawesome/free-solid-svg-icons"
  import Subject from "./CreatePost/Subject.svelte"
  import Body from "./CreatePost/Body.svelte"
  import PosterId from "./CreatePost/PosterId.svelte"
  import { useCanister } from "@connect2ic/svelte"
  import { useConnect, useBalance } from "@connect2ic/svelte"
  // import { generateAnonId } from "../utils/generateAnonId"
  // import { anonIdToThreadId } from "../utils/anonIdToThreadId"

  const { principal } = useConnect()
  const [actor] = useCanister("backend")

  export let post
  let loading
  let posterIdParsed
  let subject
  let body

  // function parsePosterId(posterId) {
  //   if (Object.keys(posterId)[0] == "Anon") {
  //     return {
  //       Anon: generateAnonId(
  //         Object.values(post.poster.posterId)[0] + post.boardId + post.threadId,
  //       ),
  //     }
  //   } else {
  //     return posterId
  //   }
  // }

  async function onSubmit() {
    loading = true
    // new post
    const newMessage = {
      fromPrincipal: Principal.fromText($principal),
      fromPosterId: posterIdParsed,
      // toPrincipal: post.poster.ownerPrincipal,
      toPosterId: post,
      postId: post.id,
      subject: subject,
      body: body,
    }
    $actor
      .createMessage(newMessage)
      .then((createdMessage) => {
        let message = createdMessage["ok"]
      })
      .catch((err) => {
        toasts.add({
          description: err,
          type: "error",
        })
      })
      .finally(() => {
        var quickDirectMessage = document.getElementById("message")
        quickDirectMessage.classList.add("hidden")
        loading = false
      })
  }
</script>

<form class="content" on:submit|preventDefault={onSubmit}>
  <PosterId bind:posterIdParsed />
  <Subject bind:subject />
  <Body bind:body />
  <button disabled={loading} class={loading && "loading"} type="submit">
    {#if !loading}
      Submit
    {:else}
      Submitting <Fa icon={faSync} spin style="display:inline" />
    {/if}
  </button>
</form>

<style>
  .content {
    display: grid;
    text-align: left;
  }
</style>
