<script>
  // @ts-nocheck
  import { toasts } from "svelte-toasts"
  import { boardsInStore } from "../stores/boardsStore"
  import Id from "./CreateBoard/Id.svelte"
  import Name from "./CreateBoard/Name.svelte"
  import Properties from "./CreateBoard/Properties.svelte"
  import Gate from "../components/Generic/Gate.svelte"
  import { useCanister } from "@connect2ic/svelte"
  import { useBalance, useConnect } from "@connect2ic/svelte"
  import Fa from "svelte-fa"
  import { faRotate } from "@fortawesome/free-solid-svg-icons"

  const [actor] = useCanister("backend")
  const [assets, { refetch, error }] = useBalance()
  const { isConnected } = useConnect()

  export let showCreateBoardForm

  let loading
  let id
  let name
  let properties = {
    flags: false,
    text: false,
    anonymous: false,
    unListed: false,
  }
  let gate = {
    token: "",
    amount: 0,
    nft: "",
  }

  async function onSubmit() {
    loading = true
    const newBoard = {
      id: id,
      name: name,
      properties: properties,
      gate: gate,
    }

    $actor.createBoard(newBoard).then((createdBoard) => {
      if (createdBoard["ok"]) {
        showCreateBoardForm = false
        if (!createdBoard["ok"].properties.unListed) {
          boardsInStore.update((n) => n.concat(createdBoard["ok"]))
        }
      } else {
        toasts.add({
          description: createdBoard["err"],
          type: "error",
        })
      }
      loading = false
    })
  }
</script>

<form class="content" on:submit|preventDefault={onSubmit}>
  <Id bind:id />
  <Name bind:name />
  <Properties bind:properties />
  <Gate bind:gate assets={$assets} />
  <button
    disabled={loading || !$isConnected}
    title={$isConnected ? "" : "Authentication required"}
    class={loading && "loading"}
    type="submit"
  >
    {loading
      ? "Submitting"
      : $isConnected
      ? "Submit"
      : "Authentication required"}
    {#if loading}
      <Fa icon={faRotate} spin />
    {/if}
  </button>
</form>

<style>
  .content {
    display: grid;
    text-align: left;
  }
</style>
