<script>
  // @ts-nocheck
  import { navigate } from "svelte-routing"
  import Import from "../components/Admin/Import.svelte"
  import Export from "../components/Admin/Export.svelte"
  import IpBans from "../components/Admin/IpBans.svelte"
  import Operations from "../components/Admin/Operations.svelte"
  import { isAdmin } from "../utils/isAdmin"
  import { useConnect } from "@connect2ic/svelte"

  const { principal } = useConnect()

  let reconnected = false
  const { isConnected } = useConnect({
    onDisconnect: () => {
      navigate("/")
    },
    onConnect: () => {
      reconnected = true
    },
  })
</script>

<div>
  {#if (reconnected || $isConnected) && isAdmin($principal)}
    <Import />
    <Export />
    <IpBans />
    <Operations />
  {/if}
</div>

<style>
  div {
    margin-top: 20px;
  }
</style>
