<script lang="ts">
  // @ts-nocheck
  // import font awesome
  import Fa from "svelte-fa"
  import { faSync } from "@fortawesome/free-solid-svg-icons"
  // import components
  import Banner from "../components/Generic/Banner.svelte"
  import Title from "../components/Board/Title.svelte"
  import Post from "../components/Post/Post.svelte"
  import NotAllowed from "../components/Generic/NotAllowed.svelte"
  import Pagination from "../components/Posts/Pagination.svelte"
  import Options from "../components/Board/Options.svelte"
  import NewPost from "../components/Posts/NewPost.svelte"
  import NewMessage from "../components/Generic/NewMessage.svelte"
  import QuickReply from "../components/Generic/QuickReply.svelte"
  import Catalog from "../components/Posts/Catalog.svelte"
  import List from "../components/Posts/List.svelte"
  import Stats from "../components/Board/Stats.svelte"
  // import stores
  import { fetchBoard, isFetchingBoard, boardStore } from "../stores/boardStore"
  import {
    fetchBoardThreads,
    isFetchingPosts,
    boardThreadsStore,
    sortBy,
  } from "../stores/postsStore"
  import { fetchFakeBoard, fetchFakeBoardThreads } from "../stores/fakerStore"
  // import Connect2IC
  import { useCanister, useBalance } from "@connect2ic/svelte"
  // import utils
  import { pagination } from "../utils/pagination"
  import { userNFTs, userStore } from "../stores/userStore"
  import { useFakeData } from "../stores/settingsStore"
  import { getIsAllowed } from "../utils/getIsAllowed"
  import { useConnect } from "@connect2ic/svelte"
  import { navigate } from "svelte-routing"

  // Connect2IC
  const [actor] = useCanister("backend")
  const [assets] = useBalance()
  // url parameters
  export let boardParam: string
  export let pageParam: string = "1"
  // local vars
  let pageNumber: number = pageParam === undefined ? 1 : parseInt(pageParam)
  $: view = $userStore?.preferences?.boardView || "paged"

  // let view: string = "paged"
  let sendMessage: string
  let showAllNsfw: boolean = false
  // fetch board and threads
  const anonActor = $actor
  $: if ($useFakeData) {
    fetchFakeBoard(boardParam), fetchFakeBoardThreads(boardParam)
  } else {
    fetchBoard(anonActor, boardParam), fetchBoardThreads(anonActor, boardParam)
  }

  sortBy.set({
    col: "bumpTimestamp",
    ascending: false,
  })

  // board gate
  let isAllowed = false
  $: if ($boardStore) {
    isAllowed = getIsAllowed($boardStore.gate, $assets, $userNFTs)
  }

  // pagination
  $: [totalPages, paginatedPosts] = pagination(
    $boardThreadsStore,
    pageNumber,
    view,
  )
  useConnect({
    onDisconnect: () => {
      if ($boardStore.gate.token != "" || $boardStore.gate.nft != "") {
        navigate("/")
      }
    },
  })
</script>

<Banner />
<!-- loading -->
{#if $isFetchingBoard || $isFetchingPosts}
  <div class="center" style="margin-top:100px;">
    <Fa icon={faSync} size="2x" spin />
  </div>
  <!-- board not found -->
{:else if !$boardStore}
  <div class="center">
    <h1>Board "{boardParam}" not found.</h1>
  </div>
  <!-- board not allowed -->
{:else if !isAllowed}
  <NotAllowed gate={$boardStore?.gate} bind:assets={$assets} type="board" />
  <!-- display threads -->
{:else}
  <Title board={$boardStore} />
  <Stats />
  <Options
    board={$boardStore}
    {totalPages}
    threadCount={$boardThreadsStore.length}
    bind:pageNumber
    bind:view
    bind:showAllNsfw
  />
  <!-- create thread -->
  <NewPost board={$boardStore} />
  <!-- no threads -->
  {#if $boardThreadsStore.length == 0}
    <div class="center">
      <h1>No threads found.</h1>
    </div>
  {/if}
  <!-- view -->
  {#if view == "paged"}
    {#each paginatedPosts as post}
      <Post
        {post}
        onBoardPage={true}
        bind:sendMessage
        bind:assets={$assets}
        bind:showAllNsfw
      />
    {/each}
    {#if totalPages > 1}
      <div class="center">
        <Pagination {totalPages} bind:pageNumber />
      </div>
      <br />
    {/if}
  {:else if view == "catalog"}
    <Catalog posts={$boardThreadsStore} />
  {:else if view == "list"}
    <List posts={$boardThreadsStore} />
  {/if}
{/if}

<NewMessage {sendMessage} />
<QuickReply board={$boardStore} onPage="board" threadParam={null} />
