<script lang="ts">
  import { useCanister, useConnect } from "@connect2ic/svelte"
  import { Principal } from "@dfinity/principal"
  const [actor, { loading, error }] = useCanister("backend")
  const { principal, isConnected } = useConnect()
  import Message from "../components/Generic/Message.svelte"
  export let toPrincipalParam: string
  let messages = []

  function fetchMessages() {
    $actor
      .getConversation(Principal.fromText(toPrincipalParam))
      .then((fetchedMessages) => {
        if (fetchedMessages["ok"]) {
          messages = fetchedMessages["ok"]
        }
      })
  }
  $: if ($isConnected) {
    $actor.getPrincipal().then((principal) => {
      if (principal != "2vxsx-fae") {
        fetchMessages()
      }
    })
  }
</script>

<h1>Conversation with</h1>
<h1>{toPrincipalParam}</h1>
{#each messages as message}
  <Message {message}/>
  {message.body}
{/each}

<style>
  h1 {
    text-align: center;
  }
</style>
