<script>
  // @ts-nocheck
  import { getContext } from "svelte"
  import { Route } from "svelte-routing"
  import { useConnect } from "@connect2ic/svelte"
  import Maintenance from "./Maintenance.svelte"
  import Inbox from "./Inbox.svelte"
  import Conversation from "./Conversation.svelte"
  import Admin from "./Admin.svelte"
  import Profile from "./Profile.svelte"
  import Thread from "./Thread.svelte"
  import Board from "./Board.svelte"
  import Home from "./Home.svelte"
  import { isAdmin } from "../utils/isAdmin"
  import { toasts } from "svelte-toasts"
  import { ToastContainer, FlatToast } from "svelte-toasts"
  import { ToastNotification } from "carbon-components-svelte"
  import { useFakeData, underMaintenance } from "../stores/settingsStore"
  import { fetchFakeData } from "../stores/fakerStore"

  const { principal } = useConnect()
  const { theme } = getContext("theme")

  $: if ($useFakeData) {
    fetchFakeData()
  }
</script>

{#if $underMaintenance && !isAdmin($principal)}
  <Route path="*"><Maintenance /></Route>
{:else}
  <ToastContainer placement="top-right" showProgress="true" let:data>
    <FlatToast {data} />
  </ToastContainer>
  <Route path="inbox/:toPrincipalParam" let:params>
    <Conversation toPrincipalParam={params.toPrincipalParam} />
  </Route>
  <Route path="inbox"><Inbox /></Route>
  <Route path="admin"><Admin /></Route>
  <Route path="profile/:principalParam"><Profile /></Route>
  <Route path=":boardParam/thread/:threadParam" let:params>
    <Thread boardParam={params.boardParam} threadParam={params.threadParam} />
  </Route>
  <Route path=":boardParam/:pageParam" let:params>
    <Board boardParam={params.boardParam} pageParam={params.pageParam} />
  </Route>
  <Route path=":boardParam" let:params>
    <Board boardParam={params.boardParam} />
  </Route>
  <!-- home -->
  <Route path="/"><Home /></Route>
{/if}
