<script>
  import Logo from "../components/Home/Logo.svelte"
  import Title from "../components/Home/Title.svelte"
  import Slogan from "../components/Home/Slogan.svelte"
  import PoweredBy from "../components/Home/PoweredBy.svelte"
  import Introduction from "../components/Home/Introduction.svelte"
  import LatestUpdates from "../components/Home/LatestUpdates.svelte"
  import SiteStats from "../components/Home/SiteStats.svelte"
  import BoardList from "../components/Home/BoardList/BoardList.svelte"
  import LatestActivity from "../components/Home/LatestActivity.svelte"
  import CycleStats from "../components/Home/CycleStats.svelte"
  import Links from "../components/Home/Links.svelte"
</script>

<Logo />
<Title />
<Slogan />
<PoweredBy />
<Introduction />
<LatestUpdates />
<SiteStats />
<CycleStats />
<BoardList />
<LatestActivity />
<Links />
