<script>
  import Logo from "../components/Home/Logo.svelte"
  import Title from "../components/Home/Title.svelte"
</script>

<Logo />
<Title />
<h2 style="text-align:center;">is undergoing maintenance</h2>
<br />
