<script>
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { faSync } from "@fortawesome/free-solid-svg-icons"
  import { navigate } from "svelte-routing"
  import Information from "../components/Profile/Information.svelte"
  import Badges from "../components/Profile/Badges.svelte"
  import Tokens from "../components/Profile/Tokens.svelte"
  import Nfts from "../components/Profile/Nfts.svelte"
  import Usernames from "../components/Profile/Usernames.svelte"
  import NavbarBoards from "../components/Profile/NavbarBoards.svelte"
  import Preferences from "../components/Profile/Preferences.svelte"
  import Messages from "../components/Profile/Messages.svelte"
  import SavedPosts from "../components/Profile/SavedPosts.svelte"
  import SignOut from "../components/Profile/SignOut.svelte"
  import { useConnect } from "@connect2ic/svelte"
  const { principal } = useConnect()

  let reconnected = false
  const { isConnected } = useConnect({
    onDisconnect: () => {
      navigate("/")
    },
    onConnect: () => {
      reconnected = true
    },
  })
</script>

<div>
  {#if reconnected || $isConnected}
    <Information />
    <Badges />
    <Tokens />
    <Nfts />
    <Usernames />
    <NavbarBoards />
    <SavedPosts />
    <!-- <Messages /> -->
    <Preferences />
    <SignOut />
  {:else}
    <div class="center" style="margin-top:100px;">
      <Fa icon={faSync} size="2x" spin />
    </div>
  {/if}
</div>

<style>
  div {
    margin-top: 20px;
  }
</style>
