<script lang="ts">
  // @ts-nocheck
  // import font awesome
  import Fa from "svelte-fa"
  import { faSync } from "@fortawesome/free-solid-svg-icons"
  // import components
  import Banner from "../components/Generic/Banner.svelte"
  import Post from "../components/Post/Post.svelte"
  import Title from "../components/Thread/Title.svelte"
  import Options from "../components/Thread/Options.svelte"
  import NotAllowed from "../components/Generic/NotAllowed.svelte"
  import NewPost from "../components/Posts/NewPost.svelte"
  import Pagination from "../components/Posts/Pagination.svelte"
  import Stats from "../components/Thread/Stats.svelte"
  import Message from "../components/Generic/NewMessage.svelte"
  import QuickReply from "../components/Generic/QuickReply.svelte"
  import Catalog from "../components/Posts/Catalog.svelte"
  import List from "../components/Posts/List.svelte"
  // import Connect2IC
  import { useCanister, useBalance } from "@connect2ic/svelte"
  // import stores
  import { fetchBoard, isFetchingBoard, boardStore } from "../stores/boardStore"
  import { fetchFakeBoard, fetchFakeThread } from "../stores/fakerStore"
  import {
    fetchThread,
    threadStore,
    isFetchingPosts,
    threadNotFound,
    sortBy,
  } from "../stores/postsStore"
  // import utils
  import { pagination } from "../utils/pagination"
  import { getIsAllowed } from "../utils/getIsAllowed"
  import { userNFTs, userStore } from "../stores/userStore"
  import { useFakeData } from "../stores/settingsStore"
  import { useConnect } from "@connect2ic/svelte"
  import { navigate } from "svelte-routing"

  // Connect2IC
  const [actor] = useCanister("backend")
  const [assets] = useBalance()
  // url parameters
  export let boardParam: string
  export let threadParam: string
  export let pageParam: string = "1"
  // local vars
  let directMessage: string
  let pageNumber: number = pageParam === undefined ? 1 : parseInt(pageParam)
  $: view = $userStore?.preferences?.boardView || "paged"
  let showAllNsfw: boolean = false
  // fetch board and threads
  const anonActor = $actor
  sortBy.set({
    col: "timestamp",
    ascending: true,
  })

  $: if ($useFakeData) {
    fetchFakeBoard(boardParam),
      fetchFakeThread(boardParam, boardParam + "/" + threadParam)
  } else {
    fetchBoard(anonActor, boardParam)
    fetchThread(anonActor, boardParam, boardParam + "/" + threadParam)
  }
  // get op
  $: op = $threadStore?.find((x) => x.properties.op === true)
  // board gate
  let isAllowedInBoard = false
  $: if ($boardStore) {
    isAllowedInBoard = getIsAllowed($boardStore.gate, $assets, $userNFTs)
  }
  let isAllowedInThread = false
  $: if (op) {
    isAllowedInThread = getIsAllowed(op.gate, $assets, $userNFTs)
  }

  // pagination
  $: [totalPages, paginatedPosts] = pagination($threadStore, pageNumber, view)

  useConnect({
    onDisconnect: () => {
      if (op.gate.token != "") {
        navigate("/" + op.boardId)
      }
      if (op.gate.nft != "") {
        navigate("/" + op.boardId)
      }
    },
  })
</script>

<Banner />
<!-- loading -->
{#if $isFetchingBoard || $isFetchingPosts}
  <div class="center" style="margin-top:100px;">
    <Fa icon={faSync} size="2x" spin />
  </div>
  <!-- board not found -->
{:else if !$boardStore}
  <div class="center">
    <h1>Board "{boardParam}" not found.</h1>
  </div>
  <!-- board not allowed -->
{:else if !isAllowedInBoard}
  <NotAllowed gate={$boardStore.gate} bind:assets={$assets} type="board" />
  <!-- thread not allowed -->
{:else if !isAllowedInThread}
  <NotAllowed gate={op?.gate} bind:assets={$assets} type="thread" />
  <!-- no threads -->
{:else if $threadNotFound}
  <div class="center">
    <h1>Thread not found.</h1>
  </div>
  <!-- display threads -->
{:else}
  <Title board={$boardStore} threadId={threadParam} />
  <Stats posts={$threadStore} link={boardParam} />
  <Options
    board={$boardStore}
    {threadParam}
    {totalPages}
    bind:pageNumber
    bind:view
    bind:showAllNsfw
  />
  <!-- create thread -->
  <NewPost board={$boardStore} {threadParam} {op} />
  <!-- view -->
  {#if $threadStore.length == 0}
    <div class="center">
      <h1>No replies found.</h1>
    </div>
  {/if}
  {#if view == "paged"}
    {#each paginatedPosts as post}
      <Post {post} onBoardPage={false} bind:assets={$assets} bind:showAllNsfw />
    {/each}
    {#if totalPages > 1}
      <div class="center">
        <Pagination {totalPages} bind:pageNumber />
      </div>
      <br />
    {/if}
  {:else if view == "catalog"}
    <Catalog posts={$threadStore} />
  {:else if view == "list"}
    <List posts={$threadStore} />
  {/if}
{/if}

<Message post={directMessage} />
<QuickReply board={$boardStore} onPage="thread" {threadParam} />
