<script>
  export let file
</script>

<!-- audio -->
{#if file.format == "audio"}
  <audio controls src={file.path} style="width: calc(5em + 15vw);">
    <a href={file.path}> Download audio </a>
  </audio>
{/if}

<style>
  audio {
    float: left;
    padding-right: 10px;
  }
</style>
