<script>
  import Fa from "svelte-fa"
  import { faBook } from "@fortawesome/free-solid-svg-icons"

  export let file
  export let view
</script>

{#if file.format == "document"}
  <!-- <div>
    <a
      target="_blank"
      rel="noreferrer"
      href={file.path}
      class="fa"
      style={view == "catalog" ? "width: 15em;" : "width: inherit;"}
    >
      <Fa icon={faBook} size="10x" class="test"/>
    </a>
  </div> -->
{/if}

<style>
  .fa {
    float: left;
  }

  div {
    float:left;
    padding-right:10px;
  }

  a {
    float:left;
  }
</style>
