<script>
  export let postId
  export let file
  export let view

  let expanded = false

  function handleImgMouseOver(e) {
    const elem = document.getElementById("imageHover_" + postId)
    elem.style.setProperty("display", "block")
  }
  function handleImgMouseOut(e) {
    const elem = document.getElementById("imageHover_" + postId)
    elem.style.setProperty("display", "none")
  }
  function handleImgMousemove(e) {
    let x = e.clientX
    let y = e.clientY
    const elem = document.getElementById("imageHover_" + postId)
    elem.style.setProperty("left", x + 350 + "px")
    elem.style.setProperty("top", y + 20 + "px")
  }
</script>

{#if file.format == "image" && file.name.split(".").at(-1) != "svg"}
  {#if expanded}
    <button on:click={() => (expanded = !expanded)} class="expanded">
      <img src={file.path} alt={file.name} loading="lazy" class="expanded" />
    </button>
  {:else}
    <!-- image thumb -->
    <button on:click={() => (expanded = !expanded)}>
      <!-- on:mouseover={handleImgMouseOver}
    on:mouseout={handleImgMouseOut}
    on:mousemove={handleImgMousemove}
    on:focus={() => {}}
    on:blur={() => {}} -->
      <img
        role="button"
        src={file.path}
        alt={file.name}
        class="fileThumb"
        loading="lazy"
      />
    </button>
    <!-- {#if !expanded} -->
    <!-- image hover -->
    <!-- <img
        style="display:none;"
        src={file.path}
        alt={file.name}
        id={"imageHover_" + postId}
        class="hovered"
        loading="lazy"
      /> -->
    <!-- {/if} -->
  {/if}
{/if}
{#if file.format == "image" && file.name.split(".").at(-1) == "svg"}
  <object
    data={file.path}
    title={file.name}
    type="image/svg+xml"
    class="fileThumb"
  />
{/if}

<style>
  .expanded {
    float: left;
    /* margin-right: 10px; */
    width: 100%;
  }

  .fileThumb {
    width: calc(5em + 15vw);
    float: left;
    padding-right: 5px;
  }

  .hovered {
    position: fixed;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    z-index: 9999999;
    max-width: 40em;
    height: auto;
  }

  button {
    padding: 0px;
    float: left;
    background: none;
    border: 0px;
  }
</style>
