<script>
  export let postId
  export let file
  let expanded = false

  function handleVidMouseOver(e) {
    const elem = document.getElementById("vidHover_" + postId)
    elem.style.setProperty("display", "block")
  }
  function handleVidMouseOut(e) {
    const elem = document.getElementById("vidHover_" + postId)
    elem.style.setProperty("display", "none")
  }
  function handleVidMousemove(e) {
    let x = e.clientX
    let y = e.clientY
    const elem = document.getElementById("vidHover_" + postId)
    elem.style.setProperty("left", x + 350 + "px")
    elem.style.setProperty("top", y + 20 + "px")
  }
</script>

<!-- on:click={() => (expanded = !expanded)}
    on:mouseover={handleVidMouseOver}
    on:mouseout={handleVidMouseOut}
    on:mousemove={handleVidMousemove}
    on:focus={() => {}}
    on:blur={() => {}} -->
{#if file.format == "video"}
  <!-- <button class="expanded"> -->
  <video controls class="expanded">
    <source src={file.path} type="video/mp4" />
    <track src="" kind="captions" srclang="en" label="" />
  </video>
  <!-- </button> -->

  <!-- video hover -->
  <video style="display:none;" id={"vidHover_" + postId} class="hovered">
    <source src={file.path} type="video/mp4" />
    <track src="" kind="captions" srclang="en" label="" />
  </video>
{/if}

<style>
  video.hovered {
    width: 25%;
  }
  video {
    float: left;
    width: calc(5em + 15vw);
    padding-right: 10px;
  }

  .hovered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* max-width: 30em; */
    width: 400em;
    height: auto;
  }

  button {
    padding: 0px;
    float: left;
    background: none;
  }
</style>
