<script>
  import Fa from "svelte-fa"
  import { faFileZipper } from "@fortawesome/free-solid-svg-icons"

  export let file
  export let view
</script>

{#if file.format == "zip"}
  <a
    target="_blank"
    rel="noreferrer"
    href={file.path}
    class="fa"
    style={view == "catalog" ? "width: 18em;" : "width: inherit;"}
  >
    <Fa icon={faFileZipper} size="10x" />
  </a>
{/if}

<style>
  a {
    padding-right: 10px;
    float: left;
  }
</style>
