<script lang="ts">
  import Box from "../Generic/Box.svelte"

  import CreateBoard from "../../forms/CreateBoard.svelte"

  export let showCreateBoardForm
</script>

<Box>
  <span slot="header"> Create Board </span>
  <div slot="body">
    <CreateBoard bind:showCreateBoardForm />
  </div>
</Box>

<style>
</style>
