<script lang="ts">
  // @ts-nocheck
  import { useCanister } from "@connect2ic/svelte"
  import Box from "../Generic/Box.svelte"
  import Fa from "svelte-fa"
  import {
    faArrowRight,
    faArrowsRotate,
    faHandHoldingHeart,
    faSync,
    faQuestion,
    faTornado,
  } from "@fortawesome/free-solid-svg-icons"
  import { formatCycles } from "../../utils/formatCycles"
  import { donateCycles } from "../../utils/donateCycles"
  import { TRILLION } from "../../constants"
  import { userStore } from "../../stores/userStore"
  import { useFakeData } from "../../stores/settingsStore"
  let backendCycles = 0
  let frontendCycles = 0
  let backendCyclesLoading = false
  let frontendCyclesLoading = false
  let cycleSendAmount = 0
  let showCycleDonationForm = false
  let showInfo

  const [actor] = useCanister("backend")

  function getBackendCycleBalance() {
    if ($useFakeData) {
      0
    } else {
      backendCyclesLoading = true
      $actor.getBackendCycleBalance().then((backendCycleBalance) => {
        backendCycles = backendCycleBalance
        backendCyclesLoading = false
      })
    }
  }

  function getFrontendCycleBalance() {
    if ($useFakeData) {
      0
    } else {
      frontendCyclesLoading = true
      $actor.getFrontendCycleBalance().then((frontendCycleBalance) => {
        frontendCycles = frontendCycleBalance
        frontendCyclesLoading = false
      })
    }
  }

  $: if ($actor) {
    getBackendCycleBalance()
    getFrontendCycleBalance()
  }

  function refreshStats() {
    getBackendCycleBalance()
    getFrontendCycleBalance()
  }

  const handleDonationAmountChange = (event) => {
    event.target.value.replace(/^0+(?!\.|$)/, "")
  }

  const onSubmit = () => {
    let receivingEnd = backendCycles > frontendCycles ? "frontend" : "backend"
    let receivingCanister =
      receivingEnd == "frontend"
        ? process.env.ASSETS_CANISTER_ID
        : process.env.BACKEND_CANISTER_ID
    const params = {
      to: receivingCanister,
      amount: cycleSendAmount * TRILLION,
    }
    donateCycles(params).then(() => {
      if (receivingEnd == "frontend") {
        getFrontendCycleBalance()
      } else {
        getBackendCycleBalance()
      }
      $actor.addBadge("CycleContributor").then((updatedUser) => {
        userStore.set(updatedUser["ok"])
      })
    })

    showCycleDonationForm = false
  }
</script>

<Box>
  <span slot="header">
    Cycles
    {#if !backendCyclesLoading && !frontendCyclesLoading}
      <!-- info -->
      <button
        class="fa"
        on:click={() => {
          showInfo = !showInfo
        }}
      >
        <Fa icon={faQuestion} />
      </button>
      <!-- refresh -->
      <button class="fa" title="Refresh" on:click={() => refreshStats()}>
        <Fa icon={faArrowsRotate} />
      </button>
      <button
        class="fa"
        title="Send Cycles"
        on:click={() => {
          showCycleDonationForm = !showCycleDonationForm
        }}
      >
        <Fa icon={faHandHoldingHeart} />
      </button>
    {/if}
  </span>
  <div slot="body">
    {#if showInfo}
      <p>
        Cycles are used to power this dapp.<br />The backend (data) canister has {formatCycles(
          backendCycles,
        )} trillion cycles.<br />The frontend (website assets) canister has {formatCycles(
          frontendCycles,
        )} trillion cycles.
      </p>
      <p>
        Users can send between 1 and 10 trillion cycles at a time by clicking
        the hand heart icon above. <br />The XTC (Cycles token) can be used to
        hold cycles using only a Principal. <br />ICP can be swapped for XTC on
        the
        <a style="text-decoration:underline" href="https://app.sonic.ooo/swap"
          >Sonic</a
        > dapp.
      </p>
      <p>
        A "Cycle Sender" (<Fa icon={faTornado} />) badge will be rewarded to you
        after a successful cycle donation.
      </p>
    {/if}

    <div class="stats center">
      <span>
        Frontend:
        {#if !frontendCyclesLoading}
          {formatCycles(frontendCycles) + " T"}
        {:else}
          <Fa icon={faSync} spin style="display:inline" />
        {/if}
      </span>
      <br />
      <span>
        Backend:
        {#if !backendCyclesLoading}
          {formatCycles(backendCycles) + " T"}
        {:else}
          <Fa icon={faSync} spin style="display:inline" />
        {/if}
      </span>
    </div>
    {#if showCycleDonationForm}
      <form on:submit={onSubmit} autoComplete="off">
        <span>Donate</span>
        <input
          type="number"
          step="1"
          min="1"
          max="10"
          id="cycleAmountInput"
          bind:value={cycleSendAmount}
          onChange={(e) => {
            handleDonationAmountChange(Number(e.target.value))
          }}
        />
        <span> T Cycles </span>
        <button class="fa" type="submit">
          <Fa
            title="Send"
            style={{ color: "var(--text-color)", cursor: "pointer" }}
            icon={faArrowRight}
          />
        </button>
      </form>
    {/if}
  </div>
</Box>

<style>
  .stats {
    display: flex;
    background: var(--post-bg-color);
    column-gap: 1rem;
    margin: 0.5em;
  }
</style>
