<script lang="ts">
  import Box from "../Generic/Box.svelte"
</script>

<div style="max-width:80%; margin:auto; text-align:center;">
  <Box>
    <span slot="header"> Introduction </span>
    <div slot="body" style="margin: 0.5em;">
      <p>
        Seachan is a decentralized, censorship-resistant, social platform built
        on the{" "}
        <a href="https://internetcomputer.org/"> Internet Computer</a>.
      </p>
      <p>
        Users are not required to connect a wallet in order to post, but many
        web3 features become unlocked if you choose to do so.
      </p>
      <p>
        Once Seachan reaches the desired level of maturity, it will be DAO-ified
        into a self-sustaining, community-directed Dapp.
      </p>
      <p>
        As a DAO, users will be able to guide the direction of Seachan through
        polls, proposals, and site participation.
      </p>
      <p>
        For more information on Seachan, please visit the
        <a href={"/meta"}> /meta/ </a>
        board.
        <br />
      </p>
    </div>
  </Box>
</div>

<style>
  a {
    color: var(--text-color);
    text-decoration: underline;
  }

  p {
    padding: 0px;
    margin: 5px;
  }

</style>
