<script lang="ts">
  // @ts-nocheck
  import Fa from "svelte-fa"
  import { useCanister } from "@connect2ic/svelte"
  import { faArrowsRotate, faSync } from "@fortawesome/free-solid-svg-icons"
  import {
    latestThreadStore,
    fetchPosts,
    fetchLatestsThreads,
    isFetchingLatestThreads,
  } from "../../stores/postsStore"
  import Box from "../Generic/Box.svelte"
  import Catalog from "../Posts/Catalog.svelte"
  import { useFakeData } from "../../stores/settingsStore"

  const [actor] = useCanister("backend")
  if (!$useFakeData) {
    fetchLatestsThreads($actor)
  }
</script>

<div style="max-width:98%; margin:auto; text-align:center;">
  <Box>
    <span slot="header">
      Recent Threads
      <!-- refresh -->
      <button class="fa" title="Refresh" on:click={() => fetchPosts($actor)}>
        <Fa icon={faArrowsRotate} />
      </button>
    </span>
    <span slot="body">
      {#if $latestThreadStore.length > 0 && !$isFetchingLatestThreads}
        <Catalog posts={$latestThreadStore} />
      {:else if $isFetchingLatestThreads}
        <div style="padding:10px;">
          <Fa icon={faSync} spin />
        </div>
      {:else}
        <p style="margin: 0.5em;">No threads found</p>
      {/if}
    </span>
  </Box>
</div>
