<script lang="ts">
  import Box from "../Generic/Box.svelte"
</script>

<!-- <div style="max-width: 50%;  margin:auto;"> -->
<Box isMinimized={true}>
  <span slot="header"> Latest Updates </span>
  <div slot="body" style="margin: 0.25em;">
    <p style="color: var(--theme-green);">>Latest updates</p>
    <li>Seachan has been ported from React to Svelte.</li>
    <li>
      Connect2IC has also been integrated in order to support more connection
      methods.
    </li>
    <li>
      Users can now create gated threads depending on their wallet contents.
      <br />
      For example, and user with 10 ICP can gate a thread up to 10 ICP, or require
      a NFT from a specific collection that they also own.
    </li>
    <li>Recent thread preview section has been added to the home page.</li>
    <li>
      Board view, thread view, and theme preferences have been added to the
      profile page.
    </li>
    <li>
      Show off your SeaChad or CycleSender badges in the poster ID secrtion
      through the "Display Badge" checkbox of the create post form.
    </li>
    <li>
      Authenticated users can now create polls and specify the eligibility of
      voters. <br /> Authenticated and SeaChad voters are the currentl options, but
      soon NFT and token requirement options will become available.
    </li>
    <li>
      Github has deleted the code repo and terminated the developer account at
      https://github.com/seachan-dev/seachan.<br />
      The code will migrate to Codebase (https://codebase.org/) once it is available.<br
      />
      Seachan is currently on the waitlist.
    </li>
    <li style="color: var(--theme-green);">>Coming soon</li>
    <li>Users created boards.</li>
    <li>Direct messages.</li>
    <li>Poll visual improvements.</li>
    <li>
      Poll participant eligibility based on Web3 assets like ICP and NFTs.
    </li>
    <li>Contacts.</li>
  </div>
</Box>

<style>
  li {
    padding: 5px;
  }
</style>
