<script>
  import Fa from "svelte-fa"
  import {
    faTwitter,
    faDiscord,
    faGitAlt,
    faYoutube,
  } from "@fortawesome/free-brands-svg-icons"
  import Box from "../Generic/Box.svelte"
  import { toasts } from "svelte-toasts"
</script>

<Box>
  <span slot="header"> Links </span>
  <div slot="body" class="center">
    <a
      href="https://twitter.com/SeachanOfficial"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Fa icon={faTwitter} size="2x" alt="Twitter" title="Twitter" />
    </a>
    <button
      type="button"
      style="color:white;background:none;border:none;"
      on:click={() => {
        toasts.add({
          description: "Public Discord coming soon.",
          type: "info",
        })
      }}
    >
      <!-- <a href="/" target="_blank" rel="noopener noreferrer"> -->
      <Fa icon={faDiscord} size="2x" alt="Discord" title="Discord" />
      <!-- </a> -->
    </button>

    <a
      href="https://github.com/seachan-dev/seachan"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Fa icon={faGitAlt} size="2x" alt="Git" title="Git" />
    </a>
    <!-- <a href="/" target="_blank" rel="noopener noreferrer">
      <Fa icon={faYoutube} size="2x" alt="Youtube" title="Youtube" />
    </a> -->
  </div>
</Box>

<style>
  div {
    gap: 2rem;
    padding: 10px;
  }
  button {
    padding: 0px;
  }
</style>
