<script lang="ts">
  import logo from "../../assets/logo.png"
  import Device from "svelte-device-info"
</script>

<div class="logo">
  <img title="Logo by EgidoVal (https://egidoval.com/)" alt="" src={logo} />
</div>

<style>
  .logo {
    text-align: center;
  }

  @media only screen and (min-width: 601px) {
    .logo img {
      /* width: 20vw; */
      max-height: 20vw;
    }
  }

  @media only screen and (max-width: 600px) {
    .logo img {
      max-height: 45vw;
    }
  }
</style>
