<script>
  import icpLogo from "../../assets/icp.svg"
  import svelte from "../../assets/svelte.svg"
  import vite from "../../assets/vite.png"
  import connect2ic from "../../assets/connect2ic.png"
</script>

<div>
  Powered by
  <a
    href="https://internetcomputer.org/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src={icpLogo} alt="Internet Computer" title="Internet Computer" />
  </a>
  <a href="https://svelte.dev/" target="_blank" rel="noopener noreferrer">
    <img src={svelte} alt="Svelte" title="Svelte" />
  </a>
  <a href="https://vitejs.dev/" target="_blank" rel="noopener noreferrer">
    <img src={vite} alt="Vite" title="Vite" />
  </a>
  <a
    href="https://connect2ic.github.io/docs/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src={connect2ic} alt="Connect2IC" title="Connect2IC" />
  </a>
</div>

<style>
  div {
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
  }

  img {
    max-height: 2em;
    max-width: 2em;
    cursor: pointer;
    vertical-align: middle;
  }
</style>
