<script lang="ts">
  // @ts-nocheck
  import { useCanister } from "@connect2ic/svelte"
  import Fa from "svelte-fa"
  import { faArrowsRotate, faSync } from "@fortawesome/free-solid-svg-icons"
  import Box from "../Generic/Box.svelte"
  import { humanFileSize } from "../../utils/humanFileSize.js"
  import {
    boardCountStore,
    postCountStore,
    threadCountStore,
    fetchBoards,
  } from "../../stores/boardsStore"
  import { userCountStore, fetchUserCount } from "../../stores/usersStore"
  import { visitCountStore, fetchVisitCount } from "../../stores/siteStatsStore"
  import { useFakeData } from "../../stores/settingsStore"
  import { useConnect } from "@connect2ic/svelte"

  const [actor] = useCanister("backend")

  let loading = false

  $: if ($actor && $userCountStore == 0 && !$useFakeData) {
    fetchUserCount($actor)
  }

  $: if ($actor && $visitCountStore == 0 && !$useFakeData) {
    fetchVisitCount($actor)
  }
</script>

<Box>
  <span slot="header">
    Seachan Stats
    <!-- refresh -->
    <button
      class="fa"
      title="Refresh"
      on:click={() => {
        fetchBoards($actor)
        fetchUserCount($actor)
        fetchVisitCount($actor)
      }}
    >
      <Fa icon={faArrowsRotate} />
    </button>
  </span>
  <div slot="body">
    {#if !loading}
      <div class="row center">
        <span>{$visitCountStore} Visit{$visitCountStore != 1 ? "s" : ""}</span>
      </div>
      <div class="row center">
        <span>{$boardCountStore} Board{$boardCountStore != 1 ? "s" : ""}</span>
        <span
          >{$threadCountStore} Thread{$threadCountStore != 1 ? "s" : ""}</span
        >
        <span>{$postCountStore} Post{$postCountStore != 1 ? "s" : ""}</span>
      </div>
      <!-- <div class="row">
        <span>{$fileCountStore} File{$fileCountStore != 1 ? "s" : ""}</span>
        <span>{humanFileSize($fileSizeStore)}</span>
      </div> -->
      <div class="row">
        <span>{$userCountStore} Principal{$userCountStore != 1 ? "s" : ""}</span
        >
      </div>
    {:else if loading}
      <div style="padding:10px;">
        <Fa icon={faSync} size="2x" spin />
      </div>
    {/if}
  </div>
</Box>

<style>
  div {
    padding: 2px;
  }
  .row {
    column-gap: 1.5rem;
    overflow: auto;
  }
</style>
