<script>
</script>

<div>
  <p class="center">
    Censorship Resistant Decentralized Fileboard
  </p>
</div>

<style>
  div {
    margin-bottom: 0.5rem;
  }

  p {
    font-size:3vw;
    margin: 5px;
    text-align: center;
  }
</style>
