<script>
  // @ts-nocheck
  import { useCanister } from "@connect2ic/svelte"
  import Box from "../Generic/Box.svelte"
  import { downloadExport } from "../../utils/downloadExport"
  const [actor] = useCanister("backend")

  let exportType = "all"
  let loading = false

  const exportData = (type) => (e) => {
    loading = true
    let timestamp = Date.now()
    if (type == "all") {
      exportAll(timestamp)
    }
    if (type == "boards") {
      $actor.getBoards().then((boards) => {
        if (boards["ok"]) {
          downloadExport(boards["ok"], "boards_" + timestamp + ".json")
          loading = false
        }
      })
    }
    if (type == "posts") {
      $actor.getPosts().then((posts) => {
        if (posts["ok"]) {
          downloadExport(posts["ok"], "posts_" + timestamp + ".json")
          loading = false
        }
      })
    }
    if (type == "users") {
      $actor.getUsers().then((users) => {
        if (users["ok"]) {
          downloadExport(users["ok"], "users_" + timestamp + ".json")
          loading = false
        }
      })
    }
    if (type == "ips") {
      $actor.getIPAddresses().then((ips) => {
        if (ips["ok"]) {
          downloadExport(ips["ok"], "ips_" + timestamp + ".json")
          loading = false
        }
      })
    }
  }

  async function exportAll(timestamp) {
    let [boards, posts, users, ips] = await Promise.all([
      $actor.getBoards(),
      $actor.getPosts(),
      $actor.getUsers(),
      $actor.getIPAddresses(),
    ])

    var all = {
      boards: boards["ok"],
      posts: posts["ok"],
      users: users["ok"],
      ips: ips["ok"],
    }
    downloadExport(all, "seachan_" + timestamp + ".json")
    loading = false
  }
</script>

<Box>
  <span slot="header"> Export </span>
  <span slot="body">
    <select bind:value={exportType} required name="ExportType">
      <option value="all">All</option>
      <option value="boards">Boards</option>
      <option value="posts">Posts</option>
      <option value="users">Users</option>
      <option value="ips">IP</option>
    </select>
    <!-- <input type="file" on:change={exportData(exportType)} /> -->
    <a id="downloadAnchorElem">
      Hidden element used for downloading json export.
    </a>
    <button on:click={exportData(exportType)} disabled={loading}>
      {!loading ? "Export " + exportType : "Exporting " + exportType + "s..."}
    </button>
  </span>
</Box>

<style>
  #downloadAnchorElem {
    display: none;
  }
</style>
