<script>
  // @ts-nocheck
  import { useCanister } from "@connect2ic/svelte"
  import Box from "../../components/Generic/Box.svelte"
  import { isAdmin } from "../../utils/isAdmin"
  import { useConnect } from "@connect2ic/svelte"
  const { principal } = useConnect()

  const [actor] = useCanister("backend")

  let loading
  let bannedIps = []

  function clearAll() {
    bannedIps = []
    $actor.clearBannedIps()
  }

  $: if (isAdmin($principal)) {
    fetchBannedIps()
  }

  function fetchBannedIps() {
    loading = true
    $actor.getBannedIps().then((bannedIpFetched) => {
      bannedIps = bannedIpFetched
      loading = false
    })
  }
</script>

<Box>
  <span slot="header"> IP Bans </span>
  <div slot="body" style="padding: 5px;">
    {#each bannedIps as bannedIp}
      {bannedIp}
      <br />
    {/each}
    {#if bannedIps.length > 0}
      <br />
      <button
        on:click={() => {
          clearAll()
        }}
        disabled={loading}
      >
        {!loading ? "Clear All" : "Clearing All..."}
      </button>
    {:else if bannedIps.length == 0}
      None Found
    {/if}
  </div>
</Box>
