<script>
  // @ts-nocheck
  import { Principal } from "@dfinity/principal"
  import { getAllUserNFTs } from "@psychedelic/dab-js"
  import { useCanister } from "@connect2ic/svelte"
  import { Actor } from "@dfinity/agent"
  import Box from "../../components/Generic/Box.svelte"
  import { useConnect } from "@connect2ic/svelte"
  import { useFakeData } from "../../stores/settingsStore"

  const { principal } = useConnect()

  const [actor] = useCanister("backend")

  let loading
</script>

<Box>
  <span slot="header"> Operations </span>
  <span slot="body">
    <button
      on:click={() => {
        useFakeData.set(!$useFakeData)
      }}
      disabled={loading}
    >
      {!$useFakeData ? "Use fake data" : "Do not use fake data"}
    </button>
    <span />
  </span>
</Box>
